
@font-face {
  font-family: 'CircularStd-Medium';
  src: url('CircularStd-Medium.eot?#iefix') format('embedded-opentype'),  url('CircularStd-Medium.woff') format('woff'), url('CircularStd-Medium.ttf')  format('truetype'), url('CircularStd-Medium.svg#CircularStd-Medium') format('svg');
  font-weight: normal;
  font-style: normal;
}
