
@font-face {
  font-family: 'CircularStd-Book';
  src: url('CircularStd-Book.eot?#iefix') format('embedded-opentype'),  url('CircularStd-Book.woff') format('woff'), url('CircularStd-Book.ttf')  format('truetype'), url('CircularStd-Book.svg#CircularStd-Book') format('svg');
  font-weight: normal;
  font-style: normal;
}
