@charset "utf-8";
/* CSS Document */

body {
	color:#4a4a4a;
	background:#FFF;
	font-size: 14px;
	/*font-family: 'CircularStd-Book';*/
	font-family: 'Work Sans', sans-serif;
	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    padding-right: 0 !important;
}

header {
	padding:5px 0px;
}

img {
	border:none;
	outline:none;
	max-width:100%;
}

a {
	color:#3398CC;
	text-decoration:none;
	transition: color 0.3s;
	-o-transition: color 0.3s;
	-ms-transition: color 0.3s;
	-moz-transition: color 0.3s;
	-webkit-transition: color 0.3s;
}

a:hover {
	color:#38d09d;
	text-decoration:none;
}

p {
	color: #606060;
	line-height: 22px;
}

/************************ Heading Styles ************************/
h1, h2, h3, h4, h5, h6 {
	color:#2a2b2d;
	margin-top:0px;
	margin-bottom:0px;
}

h1 {
	font-size:45px;
	font-weight:600;
}

h2 {
	font-size:44px;
	font-weight:300;
}

h3 {
	font-size:28px;
	font-weight:400;
}

h4 {
	font-weight: 400;
	font-size: 19.5px;
}

h4 a {
	color:#2a2b2d;
}

h5 {
	font-size:15px;
	font-weight:600;
	line-height:22px;
}

h6 {
	font-size: 12px;
	font-weight:700;
}

/************************ Basic Styles ************************/
.circularStdmedium         { font-family: "CircularStd-Medium" !important; }
.circularstdbook           { font-family: "CircularStd-Book" !important; }

.worksans                   { font-family: 'Work Sans', sans-serif !important; }
.worksansregular           { font-family: "work_sansregular" !important; }
.worksansmedium            { font-family: "work_sansmedium" !important; }
.worksanslight             { font-family: "work_sanslight" !important; }
.worksansbold              { font-family: "work_sansbold" !important; }

.librebaskerville          { font-family: 'Libre Baskerville', serif !important; }
.librebaskervilleitalic    { font-family: "libre_baskervilleitalic" !important; }
.librebaskervillebold      { font-family: "libre_baskervillebold" !important; }
.librebaskervilleregular   { font-family: "libre_baskervilleregular" !important; }

hr {
	margin:0px;
	padding:0px;
	border:none;
	background:none;
	border-bottom:solid 1px #f0f0f0;
}

ul {
	margin-bottom:0px;
}

.richText-toolbar ul {
    padding: 0;
}

section {
	padding:40px 0px;
}

section.main-slider {
	padding:0px;
}

section.gray, .gray {
	background:#f5f5f5;
	/*background:#def2f1;*/
	min-height: 500px;
}
section.white {
	background:#FFF;
	min-height: 300px;
}

.clear {float:none; clear:both;}

input:focus, textarea:focus, select:focus, button:focus, radio:focus, checkbox:focus, a:focus {outline:none !important; text-decoration:none; box-shadow:none !important;}

/************************ Buttons ************************/

.btn {
	transition: all 0.3s linear;
	-moz-transition: all 0.3s linear;
	-webkit-transition: all 0.3s linear;
	-o-transition: all 0.3s linear;
}

.btn.btn-1 {
	color:#FFF;
	font-size:18px;
	font-weight: 300;
	padding:15px 55px;
	border-radius:50px;
	background:#3399cc;
	text-transform: uppercase;
	border: solid 1px transparent;
}

.btn.btn-1.blue {
	background:#3399cc;
}

.btn.btn-1.blue:hover {
	background:#278ec1;
}

.btn.btn-1.red {
	background:#EF6342;
}

.btn.btn-1.red:hover, .btn.btn-3.red:hover, .btn.btn-4.red:hover {
	background:#DE5434;
}

.btn.btn-1.green {
	color:#FFF;
	background:#38d09d;
}

.btn.btn-1.green:hover {
	color:#FFF;
	background:#27B585;
}

.btn.btn-1.yellow {
	background:#F2D031;
}

.btn.btn-1.yellow:hover, .btn.btn-3.yellow:hover, .btn.btn-4.yellow:hover {
	background:#E5C429;
}

.btn.btn-1-line {
	color:#FFF;
	font-size:18px;
	font-weight: 300;
	padding:14px 55px;
	border-radius:50px;
	background:transparent;
	text-transform: uppercase;
	border: solid 1px transparent;
}

.btn.btn-1-line.blue {
	color: #3398cc;
	border: solid 1px #3398cc;
}

.btn.btn-1-line.red {
	color: #EF6342;
	border: solid 1px #EF6342;
}

.btn.btn-1-line.red:hover {
	color: #FFF;
	background:#EF6342;
}

.btn.btn-1-line.yellow {
	color: #F2D031;
	border: solid 1px #F2D031;
}

.btn.btn-1-line.yellow:hover {
	color: #FFF;
	background:#F2D031;
}

.btn.btn-2 {
	font-size: 14px;
	padding: 10px 43px;
	border-radius: 50px;
	background:transparent;
	text-transform: uppercase;
}

.btn.btn-2.blue {
	color: #3398cc;
	border: solid 1px #3398cc;
}

.btn.btn-2.blue:hover, .btn.btn-1-line.blue:hover {
	color: #FFF;
	background: #3398cc;
}

.btn.btn-2.green, .btn.btn-1-line.green {
	color: #32CC98;
	border: solid 1px #32CC98;
}

.btn.btn-2.green:hover, .btn.btn-1-line.green:hover {
	color: #FFF;
	background:#32CC98;
}

.btn.btn-2.red {
	color: #EF6342;
	border: solid 1px #EF6342;
}

.btn.btn-2.red:hover {
	color: #FFF;
	background:#EF6342;
}

.btn.btn-2.yellow {
	color: #F2D031;
	border: solid 1px #F2D031;
}

.btn.btn-2.yellow:hover {
	color: #FFF;
	background:#F2D031;
}

.btn.btn-2.white {
	color:rgba(255,255,255,0.8);
	border: solid 1px rgba(255,255,255,0.8);
}

.btn.btn-2.white:hover {
	color:#3398cc;
	background: rgba(255,255,255,0.8);
}

.btn.btn-3 {
	font-size:14px;
	padding:12px 43px;
	border-radius:50px;
	text-transform:uppercase;
	border: solid 1px transparent;
}

.btn.btn-3.blue {
	color:#FFF;
	background:#3398CC;
}

.btn.btn-3.blue:hover {
	background:#2D8DBE;
}

.btn.btn-3.green {
	color:#FFF;
	background:#38d09d;
}

.btn.btn-3.green:hover {
	background:#27B585;
}

.btn.btn-3.red {
	color:#FFF;
	background:#EF6342;
}

.btn.btn-3.yellow {
	color:#FFF;
	background:#F2D031;
}

.btn.btn-4 {
	font-size:14px;
	display:inline-block;
	border-radius:50px;
	letter-spacing: 1px;
	text-transform:uppercase;
	padding:6px 25px 6px 25px;
	border: solid 1px transparent;
}

.btn.btn-4.orange {
	color:#FFF;
	background:#ffb85f;
}

.btn.btn-4.orange:hover {
	background:#ff7a5a;
}

.btn.btn-4.blue {
	color:#FFF;
	background:#3398CC;
}

.btn.btn-4.blue:hover {
	background:#2D8DBE;
}

.btn.btn-4.green {
	color:#FFF;
	background:#19a9b2;
}

.btn.btn-4.green:hover {
	background:#038a91;
}

.btn.btn-4.red {
	color:#FFF;
	background:#EF6342;
}

.btn.btn-4.yellow {
	color:#FFF;
	background:#F2D031;
}

.btn.btn-5 {
	border:none;
	font-size:14px;
	display:inline-block;
	background:none;
	border-radius:50px;
	letter-spacing: 1px;
	text-transform:uppercase;
	padding:6px 25px 6px 25px;
}

.btn.btn-5.blue {
	color:#3398CC;
	border:solid 1px #3398CC;
}

.btn.btn-5.blue:hover {
	color:#FFF;
	background:#2D8DBE;
}

.btn.btn-5.green {
	color:#27B585;
	border:solid 1px #27B585;
}

.btn.btn-5.green:hover {
	color:#FFF;
	background:#27B585;
}

.btn.btn-5.red {
	color:#EF6342;
	border:solid 1px #EF6342;
}

.btn.btn-5.red:hover {
	color:#FFF;
	background:#EF6342;
}

.btn.btn-5.yellow {
	color:#F2D031;
	border:solid 1px #F2D031;
}

.btn.btn-5.yellow:hover {
	color:#FFF;
	background:#F2D031;
}

.btn-facebook {
	color:#FFF;
	width:300px;
	border:none;
	display:block;
	margin:0 auto;
	max-width:100%;
	font-size:15px;
	font-weight:300;
	padding:12px 0px;
	border-radius:3px;
	text-align:center;
	background:#3b5999;
	margin-bottom:22px;
}

.btn-facebook:hover {
	color:#FFF;
	background:#4D6AA8;
}

.btn-sigin {
	float:left;
	color:#FFF;
	width:115px;
	height:45px;
	border:none;
	font-size:14px;
	margin-top:15px;
	font-weight:400;
	border-radius:3px;
	background:#34cc99;
	text-transform:uppercase;
}

.btn-sigin:hover {
	color:#FFF;
	background:#31C090;
}

.btn.btn-default.green {
    color: #ffffff;
    background-color: #19a9b2;
    border-color: #18aab2;
}

.btn.btn-default.green:hover {
    background-color: #f75570;
    border-color: #ffffff;
}

.btn.btn-default.save {
    background-color: #fff;
    border-color: #eb6090;
    color: #eb6090;
}

.btn.btn-default.save:hover {
	background-color: #eb6090;
    border-color: #fff;
    color: #fff;
}

.btn.btn-default.back {
    background-color: #fff;
    border-color: #a9a9a9;
    color: #555555;
}

.btn.btn-default.back:hover {
    background-color: #555555;
    border-color: #fff;
    color: #fff;
}

.btn.btn-default.font-18 {
    color: #ffffff;
    background-color: #19a9b2;
    border-color: #18aab2;
}

.btn.btn-default.font-18:hover {
    background-color: #f75570;
    border-color: #ffffff;
}

.btn.btn-default#process-withdrawal {
    background-color: #f75570;
    border-color: #eb6090;
}

.btn.btn-default#process-withdrawal:hover {
    background-color: #eb6090;
    border-color: #f3a6be;
}

/************************ CSS3 Transition Effects ************************/
.transition-color {
	transition: color 0.3s;
	-o-transition: color 0.3s;
	-ms-transition: color 0.3s;
	-moz-transition: color 0.3s;
	-webkit-transition: color 0.3s;
}

.transition-all {
	transition: all 0.3s linear;
	-moz-transition: all 0.3s linear;
	-webkit-transition: all 0.3s linear;
	-o-transition: all 0.3s linear;
}

/* Bootstrap Custom Styles */
.tooltip > .tooltip-inner {
	-moz-box-shadow: 0 1px 5px rgba(0,0,0,0.3);
	-webkit-box-shadow: 0 1px 5px rgba(0,0,0,0.3);
	box-shadow: 0 1px 5px rgba(0,0,0,0.3);
	/*background-color: #FFF; color:#606060; */
	text-align:left; padding:10px 15px;
}

.tooltip.top .tooltip-arrow {margin-left:-15px; border-left:15px solid transparent; border-right:15px solid transparent; border-top:15px solid #FFF; bottom:-10px;}
.tooltip.right .tooltip-arrow {margin-top:-15px; border-top:15px solid transparent; border-bottom:15px solid transparent; border-right:15px solid #FFF; left:-10px;}
.tooltip.left .tooltip-arrow {margin-top:-15px; border-top:15px solid transparent; border-bottom:15px solid transparent; border-left:15px solid #FFF; right:-10px;}
.tooltip.bottom .tooltip-arrow {margin-left:-15px; border-left:15px solid transparent; border-right:15px solid transparent; border-bottom:15px solid #FFF; top:-10px;}

blockquote {
	padding: 10px 20px;
    margin: 20px 0px;
    font-size: 12px;
    border-left: 3px solid #3398CC;
    background-color: #FBFBFB;
    line-height: 30px;
    font-style: italic;
}

blockquote i {
	color:#a0a0a0;
	margin-right:10px;
}

.popular-btn {
	min-height: 41px;
	text-align: center;
	background: url(../images/btn-bg.png) repeat-x center center;
}
.popular-btn a {
	top: 11px;
	font-size: 14px;
	padding: 10px 43px;
	border-radius: 50px;
	position: relative;
	text-transform: uppercase;
	transition: all 0.3s linear;
	-moz-transition: all 0.3s linear;
	-webkit-transition: all 0.3s linear;
	-o-transition: all 0.3s linear;
	
	color: #FFF;
	background:#3398CC !important;
	border: solid 1px transparent;
}

.popular-btn.green a {
	background:#34CC99 !important;
}
/*#clientdashboard .block-header { background-color: #1c1c1c;}
#clientdashboard .block .block-header h2{font-size: 20px !important; line-height: 40px; font-weight: 100; text-align: left;}
#clientdashboard .block .block-header.pending {padding-bottom: 12px;}
#clientdashboard .block .block-header.pending h2 {line-height: 30px;}
#clientdashboard .block .block-header h4 {text-transform: uppercase; font-size: 12px; letter-spacing: 1px; margin-top: 0px; text-align: left; color: #f2f2f2;}
#clientdashboard .block .block-content {padding: 20px; min-height: 100px; box-shadow: unset;}
#clientdashboard .block .block-content p{font-size: 20px !important; margin-bottom: 10px !important;}
#clientdashboard .block .block-content p span.number{font-size: 38px !important; font-weight:bolder;}
#clientdashboard .block.fixedHeight{height: 350px !important;}
#clientdashboard #boxPercentFunded .block-content{padding-top: 0 !important;}
#clientdashboard p.af.text-center {display: inline-block; text-align: center; width: 49%;}*/
.text-left { text-align: left !important; }
.status-wizzard .title {
	padding: 10px 15px;
	text-align: center;
}

.status-wizzard .title ul {
	margin: 0px;
	padding: 0px;
	list-style: none;
}
.status-wizzard .title ul li {
	width: 200px;
	display: inline-block;
}
.status-wizzard .title ul li a {
	color: #606060;
	display: block;
	cursor: default;
	font-weight: 400;
	position: relative;
}
.status-wizzard .title ul li a i {
	width: 50px;
	height: 50px;
	margin: 0 auto;
	display: block;
	color: #a9a9a9;
	font-size: 20px;
	line-height: 50px;
	text-align: center;
	border-radius: 50px;
	margin-bottom: 10px;
	background-color: #eaeaea;
	border: 1px solid #d9d9d9;
}
.status-wizzard .title ul li.done a i {
	background-color: #34CC99;
	border: 1px solid transparent;
	color: #FFF;
}
.status-wizzard .title ul li.current a i {
	background-color: #EF6342;
	border: 1px solid transparent;
	color: #FFF;
}
.status-wizzard .title ul li a:before, .status-wizzard .title ul li a:after {
	position: absolute;
	background-color: #eaeaea;
	top: 30%;
	left: -2px;
	width: 78px;
	height: 5px;
	border-top: 1px solid #d9d9d9;
	border-bottom: 1px solid #d9d9d9;
	content: '';
}
.status-wizzard .title ul li a:after {
	left: 124px;
}
.status-wizzard .title ul li:first-child a:before {
	width: 0px;
}
.status-wizzard .title ul li:last-child a:after {
	width: 0px;
}
.status-wizzard .title ul li.done a:before, .status-wizzard .title ul li.done a:after {
	background-color: #34CC99;
	border-color: #34CC99;
}

.cf-filelist .cf-actions a {
    font-size: 20px;
    padding: 2px 10px;
}

.hide-section {
  display: none !important;
}

.daterangepicker .calendar th {
    border-radius: 0;
}

.cf-filelist h5, .cf-filelist p {
    margin: 0px 0;
    padding: 0;
    font-size: 12px;
}

.cf-filelist li {
    padding: 8px 10px;
    background: none !important;
}

@media (min-width: 768px) {
  .cf-actions {
    opacity: 1;
    transition: 200ms;
  }
  .cf-filelist .list-group-item:hover .cf-actions {
    opacity: 1;
    transition: 200ms;
  }
}


.projects-page #projlist .popular-details {
    width: 60%;
}

#projlist .popular-content p {
    margin-bottom: 0px;
    margin-top: 0;
    margin-left: 0px;
}
@media screen and (max-width:767px) {
	.articleFeaturedImage {
		height: auto;
		max-width: 100%;
		width: 100%;
	}
}
@media (min-width:1025px) {
	.blog-single .articleFeaturedImage{height: auto; width: 100%;}
}
.filebox img{max-height: 80px !important;}

.text-divider 					{ width: 100%; text-align: center; border-bottom: 1px solid #e6e6e6; line-height: 0.1em; margin: 10px 0 20px; } 
.text-divider span 				{ background:#fff; padding:0 10px; color: #19a9b2; }

.text-divider.text-left 		{ text-align: left; } 
.text-divider.text-left span 	{ padding-left: 0; }
.text-divider.text-right 		{ text-align: right; } 
.text-divider.text-right span 	{ padding-right: 0; }

.client-profiles-section {
	display: none;
}

.client-profiles-section .form-group {
	/*margin-right: 0;
	margin-left: 0;*/
	margin-top: 0;
}

.breadcrumb-nav {
    background-color: #19a9b2;
    min-height: 70px;
}

.breadcrumb-nav .nav-tabs {
    border: none;
}

.breadcrumb-nav .nav-tabs > li {
    text-transform: uppercase;
    padding: 20px 15px;
}

.breadcrumb-nav .nav-tabs > li > a:hover:not(.disabled), 
.breadcrumb-nav .nav-tabs > li.active > a, 
.breadcrumb-nav .nav-tabs > li.active > a:hover:not(.disabled), 
.breadcrumb-nav .nav-tabs > li.active > a:focus {
    background: transparent;
    border: none;
        border-bottom-width: medium;
        border-bottom-style: none;
        border-bottom-color: currentcolor;
    border-bottom: 6px solid #1b5053;
    color: white;
    text-transform: uppercase;
    color: #1b5053;
    text-shadow: 1px 1px 0 #31d6e0;
}
.breadcrumb-nav .nav-tabs > li > a {
    line-height: 1em;
    padding: 5px 0;
    margin: 0;
    color: white;
    border: none;
    border-radius: 0;
    background: transparent;
    border-bottom: 6px solid transparent;
}

.breadcrumb-nav .nav-tabs > li > a .badge {
    background: #1b5053;
    text-shadow: none;
    margin-top: -3px;
}

tr .fold-content {
	display: none;
}
tr.open .fold-content {
	display: block;
}

.cf-filelist {
	background: #eaeaea;
	border: 1px solid #d4d2d2;
}

#comment-icon {
    margin: -34px 10px 0 0;
    font-size: 20px;
    /*color: #1d86ce;
    color: #19a9b2;*/
    color: #47c5ef;
}

.blog-list li .cribbon {
    right: 10px;
}

/*===================================================================================*/
/*  Client - Comments
/*===================================================================================*/
::-webkit-scrollbar-thumb:hover {
    background: #888;
}

::-webkit-scrollbar-thumb {
    background: #cacaca;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar {
    width: 5px;
}

.commentList li .commentText {
    padding: 5px 10px;
}

li.role4 {
    padding: 5px !important;
    margin: 5px 0;
}

li.role4 .commenterImage {
    margin-right: 5px;
    border: 1px solid #D4AF37;
    border-radius: 50%;
}

li.role4 > .commentText {
    background-color: rgb(255, 247, 223);
    color: #000000;
    border-bottom: 1px solid #e8d5a3;
    /*border-radius: 5px;*/
}

li.role4 .commenterImage i {
    background-color: #DAA520;
}

li.role6 > .commentText {
    background-color: #f1fbfb;
    border-bottom: 1px solid #d0e9ea;
    color: #000000;
    /* border-radius: 5px; */
}

li.role7 > .commentText {
    background-color: #f7f7f7;
    border-bottom: 1px solid #cacaca; */
    /*border-radius: 5px; */
    color: #000000;
    
}

li.role6 .commenterImage {
    border: 1px solid #19a9b2;
    border-radius: 50%;
}

#client-comments-content ul.commentList li {
    margin: 2px 0;
	font-size: 13px;
}

#client-comments  #client-comments-content .commentList li .commentText {
    width: 95%;
    display: block !important;
    margin-left: 40px;
}

#cln-comments #client-comments-content .commentList li .commentText {
    width: 88%;
    display: block !important;
    margin-left: 42px;
}

#client-comments.block-content, #client-comment-chat.block-content {
    padding: 0 !important;
}

#client-comments .actionBox, #client-comment-chat .actionBox {
    padding: 5px;
}

#cln-comments {
    margin: 0px;
    width: 350px;
	position: fixed;
	bottom: 0;
	right: 0;
	max-height: 100%;
	z-index: 999;
	box-shadow: 0px 0px 5px #00000094;
    border-radius: 5px 5px 0 0;
	margin-right: 10px;
}

#cln-comments h2 {
    color: #FFF;
    font-size: 15px;
    font-weight: 600;
    text-align: left;
}

#cln-comments a.minmax {
   content: "";
   position: absolute;
   right: 18px;
   font-size: 20px;
   color: white;
   width: 20px;
   display: block;
   top: 8px;
}

#client-comments.block-content .form-group {
    margin: 0px!important;
}

#client-comments.block-content .form-group input.form-control {
    padding-right: 35px;
    /*margin-top: 10px;*/
}
form#formComments {
    background-color: #e8e8e8;
}

/*===================================================================================*/
/*  SHINING ICON
/*===================================================================================*/

li.role4 .sicon {
  position: relative;
  overflow: hidden;
  /*width: 50px;*/
  /*height: 50px;*/
  /*margin: 25px 0 25px 25px;*/
  border-radius: 50%;
}

li.role4 .sicon:nth-child(1) { background: #D4AF37; }
li.role4 .sicon:nth-child(2) { background: #D4AF37; }
li.role4 .sicon:nth-child(3) { background: #D4AF37; }

/**
 * The "shine" element
 */

li.role4 .sicon:after {
  
  animation: shine 3s ease-in-out  infinite;
  animation-fill-mode: forwards;  
  content: "";
  position: absolute;
  top: -110%;
  left: -210%;
  width: 200%;
  height: 200%;
  opacity: 0;
  transform: rotate(30deg);
  background: rgba(255, 255, 255, 0.13);
  background: linear-gradient(
    to right, 
    rgba(255, 255, 255, 0.13) 0%,
    rgba(255, 255, 255, 0.13) 77%,
    rgba(255, 255, 255, 0.5) 92%,
    rgba(255, 255, 255, 0.0) 100%
  );
}

/* Hover state - trigger effect */


/* Active state */

li.role4 .sicon:active:after {
  opacity: 0;
}

@keyframes shine{
  10% {
    opacity: 1;
    top: -30%;
    left: -30%;
    transition-property: left, top, opacity;
    transition-duration: 0.7s, 0.7s, 0.15s;
    transition-timing-function: ease;
  }
  100% {
    opacity: 0;
    top: -30%;
    left: -30%;
    transition-property: left, top, opacity;
  }
}


/*===================================================================================*/
/*  CS - Client Profiles
/*===================================================================================*/
#bookings-all .project-info span {
    padding: 0;
    margin-bottom: 0;
    border-bottom: unset;
}

#bookings-all .project-info {
    padding: 0;
}

/*===================================================================================*/
/*  CS - Inquiries
/*===================================================================================*/
.row-header .form-inq.col-lg-8 {
    margin: auto;
    display: block;
    float: none;
}

.form-inq .contact-sec {
    text-align: right;
    background-color: #eeeeef;
    padding: 20px;
    margin: 30px 0;
}

.form-inq .contact-sec i {
    margin-bottom: 0;
}

.form-inq .inq-stat.form-group {
    padding: 15px 0;
    border-bottom: 1px solid #d8d8d8;
    border-top: 1px solid #d8d8d8;
    margin-bottom: 40px;
}


/*===================================================================================*/
/*  USERS - SideNav
/*===================================================================================*/
.side-nav-wcidn {
    position: relative;
    border-left: 2px dashed #cacaca;
    margin-left: 34px;
}

.side-nav-wcidn:last-child {
    border-left: 0;
}
.side-nav-wcidn span.num {
    position: absolute;
	left: -25px;
	border-radius: 50%;
	background-color: #4da1ff;
	color: #ffffff;
	padding: 10px 10px 8px;
	top: -5px;
	font-weight: bold;
	width: 48px;
	text-align: center;
	font-size: 20px;
}

.side-nav-wcidn .single-content {
    padding: 0 0 35px;
    margin-left: 40px;
}

.side-nav-wcidn .num-content {
    padding: 0 0 35px;
    margin-left: 50px;
}

.side-nav-wcidn .num-content h4.wcidn-title {
    font-size: 16px;
	font-weight: bold;
	padding-bottom: 16px;
	padding-top: 8px;
}

.side-nav-wcidn .num-content p.wcidn-text {
    padding-bottom: 20px;
	font-size: 14px;
	line-height: 18px;
	color: #ababab;
}

.side-nav-wcidn .num-content a.btn.btn-xs.btn-default, .side-nav-wcidn .single-content a.btn.btn-xs.btn-default {
    border: 1px solid #1aaab4;
	text-transform: uppercase;
	/*font-weight: 600;*/
	padding: 5px 15px 4px;
	background: transparent;
	color: #1aaab4;
}

.side-nav-wcidn .num-content a.btn.btn-xs.btn-default:hover, .side-nav-wcidn .single-content a.btn.btn-xs.btn-default:hover {
    background-color: #f75570;
    color: #ffffff;
    border-color: transparent;
}

.userhelp .side-nav-wcidn .num-content a.btn.btn-xs.btn-default:hover {
    background-color: #f75570;
    color: #ffffff;
    border-color: transparent;
}

.side-nav-wcidn .num-content h4.wcidn-title:hover, .side-nav-wcidn .num-content h4.wcidn-title a:hover {
    color: #19a9b2;
}

.sidebar-item .popular-posts-widget.viewbookhelp {
    padding-top: 20px;
}

.loading-icon {
	display: none;
	position: absolute;
	right: 30px;
	top: 40px;
}

.sopink {
    color: #f75570;
}

/*===================================================================================*/
/*  CLIENT - SideNav
/*===================================================================================*/
#cln-profile .cln-sidenav {
    background-color: #f5f5f5;
	text-align: right;
}

#cln-profile .cln-sidenav h3.cln-view a {
    font-weight: bold;
    color: #19a9b2;
    width: 100%;
    display: inline-block;
}

#cln-profile .cln-sidenav h3.cln-view a:hover {
    /*color: #f75570;*/
    color: #def2f1;
}

#cln-profile .cln-sidenav ul {
    list-style: none;
    padding-top: 12px;
    padding: 20px 0 10px;
}

#cln-profile .cln-sidenav ul li a {
    color: #6c6e71;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
    width: 100%;
    display: inline-block;
}

#cln-profile .cln-sidenav ul li a:hover {
    /*background-color: #f3a6be;*/
    background-color: #98e2e1;
    color: #ffffff;
}
#cln-profile .cln-sidenav ul li ul {
    padding: 0;
    display: none;
    list-style: none;
    background: #FFF;
    padding-top: 16px;
    position: absolute;
    margin: 0 0 0 -3px;
    z-index: 999999999;
}


#cln-comments .block-header {
    background-color: #eb5f90;
	padding: 10px 15px;

}

/*#clientdashboard .block-header.pending {
    background-color: #17a5a3;
}*/

#clientdashboard .block-content .btn-default {
    color: #ffffff;
    background-color: #19a9b2;
    border-color: #18aab2;
	text-transform: uppercase;
}

#clientdashboard .block-content .btn-default:hover {
    background-color: #f75570;
    border-color: #eb6090;
}

.block.booking-summary .icon {
    color: #eb6090;
}

.daterangepicker.opensright .ranges, .daterangepicker.opensright .calendar, .daterangepicker.openscenter .ranges, .daterangepicker.openscenter .calendar {
  float: right;
}

.bordered-table {
	border: 1px solid #f0f0f0;
}
.side-nav-wcidn ul {
    padding: 0;
}

.side-nav-wcidn li {
    list-style: none;
    padding: 5px 0
}

/*.side-nav-wcidn li::before {
    content: "-";
    padding: 0 10px 0 0;
    color: #eb5f90;
    font-size: 20px;
}*/

.side-nav-wcidn li a {
    width: 110px;
}

/*===================================================================================*/
/*  HEADER - Nav
/*===================================================================================*/
.header-right-btns .btn-default {
    background: transparent;
    border-color: transparent;
    color: #ffffff;
    font-family: 'CircularStd-Book';
}

.header-right-btns .open>.dropdown-toggle.btn-default:hover, .header-right-btns .btn-default:focus{
    color: #ffffff;
    background-color: transparent;
    border-color: transparent;
}

.header-right-btns .btn-default > i {
    color: #000;
    margin-left: 20px;
    font-size: 14px;
}

.search-results{
	display: inline-block;
	float: unset;
	height: 32px;
	border-right: solid 1px transparent;
	margin-top: 0;
}

.search-results input[type="text"]{
	display: block;
	margin: 7px 0 0 0;
	height: 32px;
	width: 182px;
	color: #909090;
	font-size: 12px;
	padding: 0px 10px;
	position: absolute;
	border-radius: 50px;
	border: solid 1px #ebebeb;
	z-index: 999;
}

.search-results span.icon2{
	color: #19a9b2;
	cursor: pointer;
	font-size: 20px;
	line-height: 26px;
	margin: 8px 0 0 155px;
	padding: 1px;
	position: absolute;
	right: unset;
	z-index: 9999;
}

/*===================================================================================*/
/*  USERS - Blogs
/*===================================================================================*/
ul.popular-posts-widget li figcaption {
    float: right;
    width: 165px;
}

.blog-description.ul-content h3.b-title {
    border-bottom: 1px solid #cacaca;
    padding-bottom: 30px;
    margin-bottom: 20px;
}

.nopadding { padding: 0; margin: 0; }

/*===================================================================================*/
/*  USERS - Category and Sort Dropdown
/*===================================================================================*/
/*.form-group select#categories, .form-group select#projsortby {
    font-size: 14px;
    text-transform: uppercase;
    color: #1c1c1c;
    border-radius: unset;
}
#categories.form-control, #projsortby.form-control {
    border: unset;
    background: unset;
    box-shadow: unset !important;
    border-bottom: 1px solid #19a9b2;
}*/

/*===================================================================================*/
/*  USERS - MoreOption Dropdown
/*===================================================================================*/
#teams .more-opt a.dropdown-toggle.btn {
    border-color: transparent;
}

.more-opt a.dropdown-toggle.btn {
    border: 1px solid #1aaab4;
    text-transform: uppercase;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    /*font-weight: 600;*/
    padding: 5px 12px 3px;
}

.more-opt a.dropdown-toggle.btn:hover {
    color: #ffffff;
    background-color: #19a9b2;
    border-color: #18aab2;
}

.more-opt.open .dropdown-menu {
    /*min-width: 150px;*/
    padding: 0;
    background-color: #def3f2;
}

.more-opt.open .dropdown-menu>li>a {
    font-size: 12px;
    text-align: left;
    text-transform: uppercase;
    padding: 8px 12px;
}

.more-opt.open>.dropdown-toggle.btn-default:hover, .more-opt.open>.dropdown-toggle.btn-default:focus {
    color: #ffffff;
    background-color: #19a9b2;
    border-color: #18aab2;
}

.more-opt .dropdown-menu-right {
    left: 0;
}

.btn-group.view-info a.btn-sm {
    border: 1px solid #9e9e9e;
    text-transform: uppercase;
}

.btn-group.view-info a.btn-sm:hover {
    color: #ffffff;
    background-color: #19a9b2;
    border-color: #18aab2;
    border-radius: 0;
}

/*===================================================================================*/
/*  USERS - Profile Page
/*===================================================================================*/
.remove-form{
	color: #000!important;
	font-size: 12px;
	margin: -5px -17px 0 0;
}
.remove-form:hover{
	color: #ff0000!important;
}
.user-profile-page .transparent{border:none;width:95%;}
.user-profile-page .docs-input,
.client-profile-page .docs-input,
.client-change-profile-page .docs-input{border: 1px solid #dddddd; max-width: 100%; padding: 8px 12px; display: block;}
.user-profile-page .inline-block{width:100%;}
.user-profile-page .no-file{width:100%;}
.user-profile-page .ribbon-box{padding:0 5px;}
.user-profile-page .status-info{padding: 0 70px;}
.user-profile-page .green{color:green;}
.user-profile-page .change-address{ position:absolute; margin-top:-30px; }
.user-profile-page #addDocForm{margin:-20px 0px 20px;}

/*===================================================================================*/
/*  FixedHeader
/*===================================================================================*/
#header {
    display: block;
    position: fixed;
    width: 100%;
    z-index: 1000;
    
background: rgb(72,197,239);
background: -moz-linear-gradient(left, rgb(72,197,239) 0%, rgb(72,197,239) 33%, rgb(80,201,195) 70%, rgb(80,201,195) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgb(72,197,239)), color-stop(33%, rgb(72,197,239)), color-stop(70%, rgb(80,201,195)), color-stop(100%, rgb(80,201,195)));
background: -webkit-linear-gradient(left, rgb(72,197,239) 0%, rgb(72,197,239) 33%, rgb(80,201,195) 70%, rgb(80,201,195) 100%);
background: -o-linear-gradient(left, rgb(72,197,239) 0%, rgb(72,197,239) 33%, rgb(80,201,195) 70%, rgb(80,201,195) 100%);
background: -ms-linear-gradient(left, rgb(72,197,239) 0%, rgb(72,197,239) 33%, rgb(80,201,195) 70%, rgb(80,201,195) 100%);
background: linear-gradient(to right, rgb(72,197,239) 0%, rgb(72,197,239) 33%, rgb(80,201,195) 70%, rgb(80,201,195) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#48c5ef', endColorstr='#50c9c3', GradientType=1 );


    box-shadow: 3px -2px 8px 1px #1c1c1c;
	top: 0;
}

/*===================================================================================*/
/*  CLIENT - Dashboard
/*===================================================================================*/
.client-heading {
    padding: 20px 20px 10px;
    border-bottom: 1px solid #e3e1e1;
    margin-bottom: 20px;
}
.client-heading h3 {
    text-transform: uppercase;
    color: #19a9b2;
	letter-spacing: 1px;
}

.booking-summary .icon i.si, .booking-summary .icon i.fa {
    color: #eb6090;
}

/*.activity-list ul {
    list-style: none;
}*/
.activity-list {
    padding: 0;
    list-style: none;
}
.activity-list li {
    background: #f8f8f8;
    margin-bottom: 10px;
    border-radius: 4px;
    padding: 20px 100px 20px 20px;
    position: relative;
}

.activity-list li > a.btn {
    position: absolute;
    right: 22px;
    text-transform: uppercase;
    font-size: 11px;
    padding: 5px 18px;
    top: 14px;
}

h3.cln-view {
    padding: 15px 5px;
    background-color: #1c1c1c;
}

/*===================================================================================*/
/*  CLIENT - FAQs
/*===================================================================================*/
.faq-title {
    font-family: 'work_sansmedium';
    font-size: 18px;
}

/*===================================================================================*/
/*  CLIENT - MANAGE Team
/*===================================================================================*/
td.valign-t {
    font-weight: 600;
}


/*===================================================================================*/
/*  USERS - View Company
/*===================================================================================*/
.company-profile {
    padding-left: 25px;
	text-align: left;
}

.company-profile h2 {
    font-weight: 600;
    color: #ffffff;
}

.company-profile span.sub-title {
    display: block;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 100;
}

.company-profile ul.affiliate-share {
    margin: 15px 0 5px !important;
}

.company-profile ul.affiliate-share li a {
    color: #ffffff;
    font-size: 35px;
}

.company-profile ul.affiliate-share li:hover i {
    color: #19a9b2;
}

.company-profile span.label {
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.company-profile .label-success {
    background-color: #282929b3;
}

.view-company-info .offer-data h2 {
    color: #19a9b2;
    font-weight: 700;
}

.view-company-info .sidebar {
    padding: 0 20px;
}

.view-company-info .offer-data {
    font-weight: 600 !important;
	text-align: left !important;
    padding-left: 0;
}

.view-company-info .client-content {
    margin-top: -30px;
}

.view-company-info .client-content .block>.nav-tabs>li{
    margin-bottom:0;
    /*width: 16.6%;*/
    text-align: center;
}

.view-company-info .client-content .block>.nav-tabs>li>a{
    color: #ffffff;
	background-color: transparent;
	font-weight: 500;
	border: 1px solid transparent;
	padding: 6px 18px;
	border-radius: 20px;
	margin: 14px 15px;
}
.view-company-info .client-content .block>.nav-tabs>li>a:hover{
    color:#ffffff;
    background-color: transparent;
    font-weight: 500;
    border-color: #ffffff;
}
.view-company-info .client-content .block>.nav-tabs>li.active>a,.block>.nav-tabs>li.active>a:hover,.block>.nav-tabs>li.active>a:focus{
	border-color: #ffffff;
	color: #ffffff;
	background: transparent;
}

.b-content .pie_progress {
    color: #fff;
}

span.bottom-line {
    width: 100px;
    border-top: 3px solid #19a9b2;
    display: inline-block;
}

.tab-content h4 {
    color: #606060;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
	/*padding-top: 40px;*/
}

.bar-mobile {
    display: none;
}

#tourText p {
	color: #ffffff;
}

.listdownload {
    list-style: none;
    padding: 15px 0 0;
    overflow: hidden;
	background: #ecf2f6;
}

.brochure {
    background: #fff;
    border-bottom: 4px solid #19a9b2;
    border-radius: 4px;
    padding: 25px 25px 35px;
    display: block;
    box-shadow: 0px 3px 5px #cccccc;
    -webkit-box-shadow: 0px 3px 5px #cccccc;
}

.brochure-sm .brochure {
	padding: 12px 12px 20px;
}

.brochure .ico {
    width: 65px;
}

.brochure .brochure-body small {
    font-size: 13px;
}

/*===================================================================================*/
/*  Client Profile Page
/*===================================================================================*/
.client-profile-page .start-project .title{padding-bottom:0;}
.client-profile-page .start-project .alert{margin-bottom:0;}
.client-profile-page .transparent{border:none;width:95%;}
.client-profile-page .bid-input{border:none;width:97%;}
.client-profile-page .price-input{border:none;width:98%;}
/*.client-profile-page .docs-input{border:none;border-bottom:2px solid #3398CC;max-width:80%;}*/
.client-profile-page .inline-block{width:100%;}
.client-profile-page .no-file{width:100%;}
/*.client-profile-page .remove-form{font-size:12px;margin:-6px -17px 0 0;}*/
.client-profile-page .ribbon-box{padding:0 5px;}
.client-profile-page .status-info{padding: 0 75px;}
.client-profile-page .green{color: green;}
.client-profile-page #addDocForm{margin:-40px -15px 0;}

/*===================================================================================*/
/*  Client Change Profile Page
/*===================================================================================*/
.client-change-profile-page .start-project .alert{margin-bottom:0;}
.client-change-profile-page .transparent{border:none;width:95%;}
.client-change-profile-page .bid-input{border:none;width:97%;}
.client-change-profile-page .price-input{border:none;width:98%;}
/*.client-change-profile-page .docs-input{border:none;border-bottom:2px solid #3398CC;max-width:80%;}*/
.client-change-profile-page .inline-block{width:100%;}
.client-change-profile-page .no-file{width:100%;}
/*.client-change-profile-page .remove-form{font-size:12px;margin:-6px -17px 0 0;}*/
.client-change-profile-page #addDocForm{margin:-40px 0px 0;}

/*===================================================================================*/
/*  Client Dashboard Page
/*===================================================================================*/

.client-dashboard-page .form-left{width:25%;}  
.client-dashboard-page .form-right{width:73%;}
.client-dashboard-page .quick-textarea{width:98%;margin:auto;}
.client-dashboard-page .bottom-zero{margin-bottom:0!important;}
.client-dashboard-page .activity-list ul li{margin-bottom:10px;}

/*===================================================================================*/
/*  Project View Page
/*===================================================================================*/
figure{margin:0!important;}
.docs-input{border:none;border-bottom:2px solid #3398CC;max-width:80%;}
.project-view .write-comment-image img{/*margin-top: -17px;*/}
.project-view .comment-image img{margin-top: -11px;}
.project-view .csvalue{padding: 7px 12px;}
.project-view .w-title{
	color: #fff;
	background: #333;
	padding: 10px 30px;
	margin-bottom: 30px;
}

.spinner-modal-lg .modal-dialog,
.spinner-modal-pop .modal-dialog{
    display: table;
    position: relative;
    margin: 0 auto;
    top: calc(50% - 24px);
}  
.spinner-modal-lg .modal-dialog .modal-content,
.spinner-modal-pop .modal-dialog .modal-content{
    background-color: transparent;
    border: none;
    margin: auto;
    text-align: center;
}

.project-view .form-right-w80{
	width: 82%;
}

.project-view .bottom-zero{
	white-space: nowrap;
}

.project-view .w50p .form-left{
	width: 28%;
}

.project-view .w50p .form-right{
	float: right;
	width: 70%;
}

.project-view .wlessp .form-left{
	width: 15%;
}

.project-view .wmorep .form-right{
	float: right;
	width: 85%;
}

.no-wrap{
	white-space: nowrap;
}

.full,textarea{
	width: 100%;
}

.backer-view .form-left,
.backer-view .form-right{
	width: 49%!important;
}
.backer-view .form-right{
	float: right;
}
.view-proj-btn {
    padding: 0 30px;
}
.view-proj-btn .btn {
    min-width: 170px;
}
/*===================================================================================*/
/*  Forum Dashboard Page
/*===================================================================================*/
.project-view .table-header-bg th,
.forum-category .table-header-bg th,
.forum-dashboard .table-header-bg th{
	/*font-size: 15px;
	font-weight: bold;*/
    text-transform: uppercase;
}

.forum-topic .white span,
.forum-new-topic .white span,
.forum-category .white span,
.project-view-forum .white span{
	background: transparent!important;
}

.forum-topic .wlessp,
.project-view-forum .wlessp{
	width: 12%;
}

.forum-topic .wmorep,
.project-view-forum .wmorep{
	float: right;
	width: 88%;
}

.forum-topic .block,
.forum-topic .form-left p,
.forum-topic .form-right p,
.project-view-forum .block,
.project-view-forum .form-left p,
.project-view-forum .form-right p{
	background: transparent!important;
}

.project-view-forum p{
	margin-top: 0!important;
}

.project-view-forum-topic .table thead > tr > th{
	padding-right: 0!important;
}

.forum-topic #intor-section,
.forum-category #intor-section{text-align: left;}
.forum-topic #intor-section ul,
.forum-category #intor-section ul{padding-top: 0;}
.forum-topic #intor-section ul li,
.forum-category #intor-section ul li{ min-height: 0; width: auto;}

#loader {
	position: fixed;
	height: 100%;
	width: 100%;
	top: 70px;
	left: 0;
	background-color: rgba(255, 255, 255, 0.92);
	z-index: 999;
}

#loader-ico {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    transform: translate(-50%, -50%);
}

.text-top{
	vertical-align: top!important;
}

#iclass{
	padding-left: 40px;
}

#iclassid{
	position: absolute;
	margin: -36px 0 0 6px;
}
.container-fluid {
    max-width: 1400px;

}

.absolute{ position: absolute; }
.span-icon{ padding-left: 28px; }
.td-icon{ margin-left: -28px; }

/*===================================================================================*/
/*  use for input prefixes like currency, url protocols etc
/*===================================================================================*/
span.prefix i{
	margin: 39px 0 0 -27px;
	position: absolute;
}
span.prefix input{
	padding-left: 16px;
}
.add-client .currency,
.client-profile .currency{
	position: absolute;
	margin: 12px 0 0 7px;
}
.add-client .prefix input,
.client-profile .prefix input,
.client-change-profile-page .prefix input{
	padding-left: 18px;
}

.client-change-profile-page .currency{
	position: absolute;
	margin: 1px 0 0 7px;
}

.wallet-box {
	background: rgba(103,122,230,1);
	background: -moz-linear-gradient(left, rgba(103,122,230,1) 0%, rgba(103,122,230,1) 4%, rgba(115,86,177,1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(103,122,230,1)), color-stop(4%, rgba(103,122,230,1)), color-stop(100%, rgba(115,86,177,1)));
	background: -webkit-linear-gradient(left, rgba(103,122,230,1) 0%, rgba(103,122,230,1) 4%, rgba(115,86,177,1) 100%);
	background: -o-linear-gradient(left, rgba(103,122,230,1) 0%, rgba(103,122,230,1) 4%, rgba(115,86,177,1) 100%);
	background: -ms-linear-gradient(left, rgba(103,122,230,1) 0%, rgba(103,122,230,1) 4%, rgba(115,86,177,1) 100%);
	background: linear-gradient(to right, rgba(103,122,230,1) 0%, rgba(103,122,230,1) 4%, rgba(115,86,177,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#677ae6', endColorstr='#7356b1', GradientType=1 );
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	color: #ffffff;
}

.wallet-box .h2 {
	font-family: 'work_sanslight';
	color: #ffffff;
	font-size: 36px;
	padding: 10px 0 0px;
	display: block;
}

.wallet-box .h2:hover {
	color: #ffffff;
}

.wallet-box .btn {
	text-transform: uppercase;
	padding: 6px 14px 4px;
}

.dataTables_wrapper {
	padding-top: 10px;
}

#invoice-paid .label-success {
    background-color: #5cb85c;
}

.box-circle {
    border: 2px solid #f75570;
    border-radius: 50%;
    padding: 38px 20px;
    font-size: 40px;
    font-family: 'work_sanslight';
    color: #f75570;
    width: 130px;
    height: 130px;
    margin: 0 auto 20px;
}

.mce-panel {
    border: 0 solid #dddddd;
}

.mce-tinymce {
	box-shadow: none;
}

.file-input .form-control.file-caption {
    max-width: 100%;
    border-radius: 4px !important;
    -webkit-border-radius: 4px !important;
}
.file-input .btn-file.btn-primary {
    background: #4da1ff;   
    border: 1px solid #c4e0ff;    
}

.file-input .btn {
    padding: 5px 14px !important;
    border-radius: 4px !important;
    -webkit-border-radius: 4px !important;
    font-size: 13px;
    margin-right: 4px;
}

.file-input {

}

.file-input .input-group {
	display: block;
	position: relative;
}

.file-input .file-caption {

}

.file-input .input-group-btn {
	display: block;
	position: absolute;
	top: 8px;
	font-family: 'work_sanslight';
	z-index: 99;
	text-align: right;
	width: 100%;
	right: 4px;
}

body .mce-tinymce {
    box-shadow: 0 0px 0px transparent;
}

body .mce-btn button {
    font-size: 13px;
}

body .mce-menubar {
    border: 1px solid #dddddd;
}

body .mce-container, .mce-container *, .mce-widget, .mce-widget *, .mce-reset {
    color: #4a4a4a;
    font-family: 'work_sansregular';
    font-size: 13px;
    text-transform: uppercase;
}

body .mce-panel {
    border: 0px solid #dddddd;
}


.info-box { 
	border: 1px solid #f0f4f5;
	position: relative;
	padding: 20px;
	background: #fff;
	text-align: center;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	overflow: hidden;
	min-height: 140px;
}

.info-box:hover {
	border-color: #97edf3;
}

.info-box:before {
	content: "";
	width: 100%;
	height: 4px;
	position: absolute;
	left: 0;
	top: 0;
	background: rgba(102,126,234,1);
	background: -moz-linear-gradient(-45deg, rgba(102,126,234,1) 0%, rgba(102,126,234,1) 45%, rgba(118,75,162,1) 54%, rgba(118,75,162,1) 100%);
	background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(102,126,234,1)), color-stop(45%, rgba(102,126,234,1)), color-stop(54%, rgba(118,75,162,1)), color-stop(100%, rgba(118,75,162,1)));
	background: -webkit-linear-gradient(-45deg, rgba(102,126,234,1) 0%, rgba(102,126,234,1) 45%, rgba(118,75,162,1) 54%, rgba(118,75,162,1) 100%);
	background: -o-linear-gradient(-45deg, rgba(102,126,234,1) 0%, rgba(102,126,234,1) 45%, rgba(118,75,162,1) 54%, rgba(118,75,162,1) 100%);
	background: -ms-linear-gradient(-45deg, rgba(102,126,234,1) 0%, rgba(102,126,234,1) 45%, rgba(118,75,162,1) 54%, rgba(118,75,162,1) 100%);
	background: linear-gradient(135deg, rgba(102,126,234,1) 0%, rgba(102,126,234,1) 45%, rgba(118,75,162,1) 54%, rgba(118,75,162,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#667eea', endColorstr='#764ba2', GradientType=1 );
}
.info-box  .info-title {  
	font-size: 13px;
	margin-bottom: 10px;
}
.info-box  .info-value, .info-value label {  
	font-size: 30px;
	font-family: 'work_sanslight';
}
.info-box  .info-subtitle {  
	font-family: 'work_sansregular';
	font-size: 13px;
	text-transform: capitalize;
}

.invoice-wrap {
    /*padding: 0 10px;*/
}

.invoice-wrap .table > tbody > tr > td {
	padding: 5px;
}

.invoice-wrap .table > tbody > tr > td .label {
	
}

.invoice-wrap #process-paydue,
.invoice-wrap #process-payout{
	padding: 12px 13px;
}

.valign-t { vertical-align: top !important;	}
.valign-m { vertical-align: middle !important; }
.valign-b { vertical-align: bottom !important; }

.body-longtext p {  }
.body-longtext .bl-title { 
	font-size: 20px;
	color: #18181a;
	font-family: 'work_sansmedium';
	padding: 20px 0 22px;
	position: relative;
	margin-bottom: 26px;
}
.body-longtext .bl-title:after {
	content: "";
	max-width: 360px;
	height: 2px;
	background: #1aaab4;
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
}

.body-longtext .bodyp {
    /*padding-left: 100px;*/
    color: #4a4a4a;
}

.body-longtext .bl-text {
    padding-left: 100px;
}

.body-longtext .bl-text .bodyp ul li {
    background: unset;
    padding: 5px 0;
}

.body-longtext .bl-text .bodyp ul li .si {
    color: #4da1ff;
}





/*===================================================================================*/
/*  USERS - Contact Us
/*===================================================================================*/
.contact-section {
    color: #ffffff;
    padding: 50px 50px 40px;
    border-radius: 5px;
 	font-weight: normal;
    font-family: 'work_sanslight';
	margin: 40px auto 50px;
	background: rgba(104,120,226,1);
	background: -moz-linear-gradient(-45deg, rgba(104,120,226,1) 0%, rgba(117,80,169,1) 100%);
	background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(104,120,226,1)), color-stop(100%, rgba(117,80,169,1)));
	background: -webkit-linear-gradient(-45deg, rgba(104,120,226,1) 0%, rgba(117,80,169,1) 100%);
	background: -o-linear-gradient(-45deg, rgba(104,120,226,1) 0%, rgba(117,80,169,1) 100%);
	background: -ms-linear-gradient(-45deg, rgba(104,120,226,1) 0%, rgba(117,80,169,1) 100%);
	background: linear-gradient(135deg, rgba(104,120,226,1) 0%, rgba(117,80,169,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6878e2', endColorstr='#7550a9', GradientType=1 );
}

.contact-section h3 {
    padding: 0 30px 15px;
    font-family: 'work_sanslight';
}

.contact-section .contact-details {
    padding-bottom: 20px;
}

.contact-details .contact-text p {
    font-size: 20px;
    color: #ffffff;
    padding-right: 70px;
    line-height: 28px;
}

.contact-form .form-ui {
    padding: 0;
}

.contact-form .form-block {
    padding-bottom: 10px;
}

.contact-form .form-control {
    background: #584fab;
    border: 1px solid #584fab;
    border-radius: 5px;
    box-shadow: 0px 1px 0px #474180 inset;
}

.contact-map {
    padding-top: 25px;
}

.contact-map .map-container {
    border-radius: 5px;
    overflow: hidden;
    height: 475px;
}

/*====================================*/
/*  USERS - Bookings
/*====================================*/
.booking-id {
    display: block;
    margin-bottom: 20px;
    padding: 20px 0;
}

.booking-id span {
    font-size: 18px;
    font-family: 'work_sansmedium';
    padding: 10px 25px;
    border: 1px solid;
    border-radius: 5px;
}

.side-nav-wcidn .num.pink {
   background: pink;
}

.form-control[readonly] {
    background-color: #ffffff;
}

/*.userhelp .side-nav-wcidn .num-content a.btn.btn-xs.btn-default {
    padding: 10px 20px 8px;
    background: #1aaab4;
    color: #ffffff;
    font-size: 14px;
    margin-bottom: 5px;
}*/

.block-header-2.pd {
    border-bottom: 2px solid #1aaab4;
}
/*====================================*/
/*  USERS - Dashboard
/*====================================*/
.popular-item,
.project-item {
	border: 1px solid #e1e1e1;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	background: #fff;
	margin-bottom: 50px;
}

.popular-item:hover .ft-img::before, .popular-item:hover .ft-img figcaption a,
.project-item:hover .ft-img::before, .project-item:hover .ft-img figcaption a {
	opacity: 1;
}

.popular-item .ft-img,
.project-item .ft-img {
	max-height: 180px;
	min-height: 180px;
	overflow: hidden;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	margin: -1px -1px 0;
	background: #333333;
	position: relative;
}

.popular-item .ft-img img,
.project-item .ft-img img {
	width: 100%;
}

.popular-item .ft-img img,
.project-item .ft-img img {
	height: 180px;
}

.ft-img::before {
	z-index: 8;
	opacity: 0;
	content: "";
	width: 100%;
	height: 100%;
	display: block;
	position: absolute;
	background: rgba(51, 152, 204, 0.5);
	transition: all 0.3s linear;
	-moz-transition: all 0.3s linear;
	-webkit-transition: all 0.3s linear;
	-o-transition: all 0.3s linear;
}

.ft-img figcaption {
	top: 30%;
	left: 0%;
	z-index: 9;
	padding: 8px 20px;
	font-size: 12px;
	position: absolute;
	text-align: center;
	width: 100%;
}

.ft-img figcaption a {
	color: #FFF;
	opacity: 0;
	padding: 8px 20px;
	font-size: 12px;
	text-align: center;
	background: #3398CC;
	border-radius: 50px;
	vertical-align: middle;
	transition: all 0.3s linear;
	-moz-transition: all 0.3s linear;
	-webkit-transition: all 0.3s linear;
	-o-transition: all 0.3s linear;
	border: solid 1px transparent;
	margin: 0 2px;
}

.popular-item .ft-img figcaption {
	top: 40%;
}

.ft-img figcaption a:hover {
	border: solid 1px rgba(255,255,255,0.5);
}

.ft-img figcaption::after {
	
}

.project-item .ribbon-box {
	border-radius: 0 20px 20px 0;
	left: -1px !important;
}

.ribbon.ribbon-left .ribbon-box {
	border-radius: 0 20px 20px 0;
	-webkit-border-radius: 0 20px 20px 0;
}

.ribbon.ribbon-right .ribbon-box {
	border-radius: 20px 0 0 20px;
	-webkit-border-radius: 20px 0 0 20px;
}

.pink.ribbon-box { background: #f75570; }
.blue.ribbon-box { background: #4da1ff; }
.violet.ribbon-box { background: #5b64ca; }

.project-item .project-content {
	background: #ffffff;
	padding: 22px 24px;
	margin: -40px 10px 0;
	border-radius: 5px 5px;
	-webkit-border-radius: 5px 5px;
	position: relative;
	text-align: left;
	z-index: 10;
}

.project-item .project-content h5, .project-content h5 a {
    font-size: 16px;
    color: #18181a;
    font-family: 'CircularStd-Medium';
    padding: 0 0 10px;
    min-height: 40px;
    text-transform: uppercase;
}

.project-item .project-content h5, .project-content h5 a.recent {
    font-size: 14px;
}

.project-item .project-content p {

}
.project-item .project-content p.project-text {
	min-height: 136px;
}
.project-item .project-content p.project-text-recent {
	min-height: 90px;
}
.project-item .project-progress {
	clear: both;
	border-bottom: 1px solid #d8d8d8;
	padding: 10px 0;
	margin-bottom: 18px;
}
.project-item .project-data {

}

.team-members .project-item {
    box-shadow: 0px 5px 20px #00000094;
}

.team-members .project-item .project-content {
    padding: 20px 10px 5px;
}

.team-members .project-item .project-content h5 {
    min-height: unset;
    padding-bottom: 4px;
}

.project-data img {
	width: 70px;
	height: 70px;
	z-index: 99;
	margin: 13px;
	position: absolute;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50%;
}

.project-data .progress_number {
	font-size: 32px;
	color: #f75570;
	padding: 20px 0 0;
	line-height: 30px;
}

.project-data .progress_label {
	color: #b1b1b1;
	font-size: 15px;
}

.project-content .project-summary {

}

.project-summary .daysback {
	color: #6e6e6e;
	font-size: 12px;
}

.project-summary .daysback span {
	font-size: 20px;
	color: #f75570;
	padding: 0 8px 0 0px;
}

.project-funded {
	color: #6e6e6e;
	font-size: 13px;
	text-transform: uppercase;
	margin: 10px 0 20px;
}

.project-funded span {
	font-size: 22px;
    color: #f75570;
    padding: 0 10px 0 0px;
}

.project-btn {
	margin: 0 0 -42px;
}

.project-btn .btn {
	text-transform: uppercase;
	font-family: 'CircularStd-Medium';
	font-size: 13px;
	letter-spacing: 2px;
	display: block;
	border-radius: 20px;
}

.sw-title {
    font-family: 'work_sansbold';
    font-size: 15px;
    text-transform: uppercase;
    color: #18181a;
    padding: 0 0 15px;
    border-bottom: 1px solid #e1e1e1;
    margin: 0 0 20px;
}

.sw-list {
	list-style: none;
	padding: 0;
}

.sw-list li a {
    color: #4a4a4a;
    font-size: 15px;
    padding: 0 0 20px;
    display: block;
}

.sw-list li a:hover, .sw-list li.active a {
	color: #1aaab4;
}

.projects-page #projsortby.userdash-select {
	background: #fff;
	border-radius: 20px;
	-webkit-border-radius: 20px;
	border: 1px solid #e1e1e1;
	color: #5d5d5d;
	font-size: 14px;
	padding: 6px 150px 6px 20px;
	height: 40px;
	text-transform: capitalize;
}

.content-cnt .form-group label {
	font-family: 'work_sansbold';
}

.no-padding { padding: 0 !important; }

/*====================================*/
/*  BLOGS
/*====================================*/
.blog-listing {  }

.bw-heading {
    border-bottom: 1px solid #ececec;
    display: block;
    padding: 0 0 20px;
    font-size: 26px;
    color: #18181a;
    margin-bottom: 20px;
    position: relative;
}
.bw-heading::after {
    content: "";
    display: block;
    background: #f75570;
    height: 2px;
    width: 90px;
    position: absolute;
    bottom: 0;
}

.blog-item {
    position: relative;
    margin: 0 0 20px;
    padding: 0 0 20px;
    border-bottom: 1px solid #e1e1e1;
}
.blog-img {  }
.blog-item .blog-img img { width: 100%; }

.blog-content { padding: 10px 10px; color: #747474; }
.blog-content .blog-title {
    color: #404040;
    font-size: 20px;
    margin: 0 0 20px;
}
.blog-content .blog-desc {
    line-height: 24px;
    color: #747474;
}
.blog-content .blog-desc a {
	color: #747474;
	font-size: 13px;
}
.blog-content .blog-footer {
    padding: 16px 0 0;
    font-size: 12px;
    text-transform: uppercase;
}
.blog-content .blog-footer .text-muted { color: #9e9e9e; }

select.form-control.arrow-down.category-box, input.form-control.category-box {
    border-radius: 50px;
}

.input-group-addon.sbox {
    border-radius: 0 50px 50px 0;
}



/*====================================*/
/*  BLOGS WIDGET
/*====================================*/
.sidebar-item .bw-heading { 
	font-family: 'work_sanslight';
}
.blog-item.widget .blog-content .blog-title {
    font-size: 14px;
    margin: 0 0 0px;
}

.blog-item.widget .blog-img img {
    min-height: 70px;
}

.blog-item.widget .blog-content {
    padding: 0px 6px;
}

.blog-item.widget {
    margin: 0 0 15px;
    padding: 0 0 15px;
}

.blog-item.widget .blog-content .blog-footer {
    font-size: 12px;
    padding: 12px 0 0;
}

.blog-item.widget:first-child .row > div {
    display: block;
    float: none;
    width: 100%;
    padding: 0 16px !important;
}

.blog-item.widget:first-child .blog-content {
	padding: 14px 0px;
}

/*===================================================================================*/
/*  ADMIN - Manage Clients
/*===================================================================================*/
.manage-clients .project-info,
.manage-clients .project-info span{
	padding-bottom: 0;
}

.manage-clients .table th{
	font-weight: bold;
}

/*===================================================================================*/
/*  Affiliates Page
/*===================================================================================*/
.affiliates tbody>tr>td:first-child{
	width: 70px;
}

/*===================================================================================*/
/*  Accounting - Invoices Page
/*===================================================================================*/
.acct-invoices .yadcf-filter-wrapper button { display: none; }  
.acct-invoices .form-left { width: 300px; }
.acct-invoices .form-right { width: auto; }
.acct-invoices div.dataTables_wrapper div.dataTables_length select { width: 100%; }
.acct-invoices #filter-outstanding { padding-left: 20px; }
.acct-invoices #filter-overdue { padding-left: 20px; }
.acct-invoices #filter-paid { padding-left: 20px; }
.acct-invoices select { cursor: pointer; }
.acct-invoices .dropdown-menu{ min-width: 150px; }

/*===================================================================================*/
/*  CS - Management Pages
/*===================================================================================*/
.cs-clients .dropdown-menu{ min-width: 157px; }

/*===================================================================================*/
/*  Client - Management Pages
/*===================================================================================*/
.client-invoices .checkbox{margin-top:-3px!important;}
.client-invoices .table-pop>tbody>tr>td{padding:3px 10px!important;}
.client-invoices .padding-right{padding-right:50px;}
.client-invoices .tablia{ text-transform: uppercase; }
.client-invoices #lblwarning{float:right;}

.admin-logs .table>tbody>tr>td,
.client-logs .table>tbody>tr>td{ padding: 4px 10px; }

.dev .dropdown-menu{ min-width: 100px; }
.dev thead>tr>th:last-child{ max-width:155px!important; }

/*===================================================================================*/
/*  PROJECT - VIEW
/*===================================================================================*/
.project-view .project-data img {
    margin: 13px;
    height: 122px;
    width: 122px;
}

.project-view .panel-body{
    padding: 0 15px;
}
.project-view .tab-pane p{
    margin: 15px 0px;
}
.project-view .faq p{
    padding-left: 70px;
}

.project-view .project-data .progress_number {
    font-size: 38px;
    padding: 50px 0 0 8px;
}

.project-view .project-data .progress_label {
    font-size: 18px;
}

.proj-title {
    font-size: 42px;
    color: #18181a;
}

.project-header p {
    font-size: 15px;
    color: #787878;
}

.project-view .project-progress {
    padding: 30px 0 10px 30px;
    /*border-top: 2px solid #4da1ff;*/
    text-align: left;
}

.project-view .nav-tabs.main-nav {
	background: rgba(72,197,239,1);
	background: -moz-linear-gradient(-45deg, rgba(72,197,239,1) 0%, rgba(72,197,239,1) 43%, rgba(111,133,214,1) 75%, rgba(111,133,214,1) 100%);
	background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(72,197,239,1)), color-stop(43%, rgba(72,197,239,1)), color-stop(75%, rgba(111,133,214,1)), color-stop(100%, rgba(111,133,214,1)));
	background: -webkit-linear-gradient(-45deg, rgba(72,197,239,1) 0%, rgba(72,197,239,1) 43%, rgba(111,133,214,1) 75%, rgba(111,133,214,1) 100%);
	background: -o-linear-gradient(-45deg, rgba(72,197,239,1) 0%, rgba(72,197,239,1) 43%, rgba(111,133,214,1) 75%, rgba(111,133,214,1) 100%);
	background: -ms-linear-gradient(-45deg, rgba(72,197,239,1) 0%, rgba(72,197,239,1) 43%, rgba(111,133,214,1) 75%, rgba(111,133,214,1) 100%);
	background: linear-gradient(135deg, rgba(72,197,239,1) 0%, rgba(72,197,239,1) 43%, rgba(111,133,214,1) 75%, rgba(111,133,214,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#48c5ef', endColorstr='#6f85d6', GradientType=1 );
	padding: 0 20px;
	border-radius: 0;
}

.sobg {
	background: rgba(72,197,239,1);
	background: -moz-linear-gradient(-45deg, rgba(72,197,239,1) 0%, rgba(72,197,239,1) 43%, rgba(111,133,214,1) 75%, rgba(111,133,214,1) 100%);
	background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(72,197,239,1)), color-stop(43%, rgba(72,197,239,1)), color-stop(75%, rgba(111,133,214,1)), color-stop(100%, rgba(111,133,214,1)));
	background: -webkit-linear-gradient(-45deg, rgba(72,197,239,1) 0%, rgba(72,197,239,1) 43%, rgba(111,133,214,1) 75%, rgba(111,133,214,1) 100%);
	background: -o-linear-gradient(-45deg, rgba(72,197,239,1) 0%, rgba(72,197,239,1) 43%, rgba(111,133,214,1) 75%, rgba(111,133,214,1) 100%);
	background: -ms-linear-gradient(-45deg, rgba(72,197,239,1) 0%, rgba(72,197,239,1) 43%, rgba(111,133,214,1) 75%, rgba(111,133,214,1) 100%);
	background: linear-gradient(135deg, rgba(72,197,239,1) 0%, rgba(72,197,239,1) 43%, rgba(111,133,214,1) 75%, rgba(111,133,214,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#48c5ef', endColorstr='#6f85d6', GradientType=1 );
}

#cln-comments .block-header{ cursor: pointer; }

/*===================================================================================*/
/*  PROFILE - USER
/*===================================================================================*/
.start-project.profile-tabs {
    background: transparent;
}

.start-project.profile-tabs .title ul li a::before, .start-project.profile-tabs .title ul li a::after { display: none; }
.profile-tabs.profile-tabs-line .title ul li a::before, 
.profile-tabs.profile-tabs-line .title ul li a::after { display: block; background-color: #5b64ca; border-top: 1px solid #5b64ca; border-bottom: 1px solid #5b64ca; }
.profile-tabs.profile-tabs-line .title ul li.current a::before, 
.profile-tabs.profile-tabs-line .title ul li.current a::after { background-color: #f75570; border-top: 1px solid #f75570; border-bottom: 1px solid #f75570; }

.start-project.profile-tabs .title ul li a i {
    width: 80px;
    height: 80px;
    font-size: 30px;
    line-height: 78px;
    background-color: #5b64ca;
    border: 1px solid transparent;
    color: #ffffff;
    margin-bottom: 20px;
}
.start-project.profile-tabs .title ul li.active a i,
.start-project.profile-tabs .title ul li.current a i {
    background-color: #f75570;
}

.start-project.profile-tabs .title ul li a span {
    color: #fff;
    text-transform: capitalize;
    font-family: ;
    font-weight: normal;
    font-family: 'CircularStd-Medium';
    font-size: 15px;
}

.profile-progress {
    background: #5b64ca;
    position: relative;
    padding: 10px 14% 10px 10%;
    border-radius: 30px;
    font-family: 'CircularStd-Medium';
    color: #ffffff;
    font-size: 15px;
    height: 42px;
}

.profile-progress .pp-percentage {
    position: absolute;
    left: 36px;
    top: 10px;
}
.profile-progress .pp-label { 
	position: absolute;
	right: 36px;
	top: 10px;
}
.profile-progress .pp-progress {
    width: 100%;
    background: #fff;
    height: 5px;
    margin: 9px 0;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    overflow: hidden;    
}
.pp-progress > .pp-line {
    background: #f75570;
    height: 5px;
}

.nobg { background: transparent !important; }

.cleanfilter .dataTables_wrapper {
    padding-top: 0;
}

.cleanfilter .table {
	margin-top: 0 !important;
}

.sp-avatar img {
    padding: 0;
    margin: 0 20px 0 0;
}

.nav-users.sp-avatar .ticket-avatar > img {
    width: 70px;
    height: 70px;
    left: 0px;
    border-radius: 50%;
    position: absolute;
    top: 10px;
}

.nav-users.sp-avatar .ticket-avatar > i {
    left: 70px;
    top: 10px;
    position: absolute;
}

.nav-users.sp-avatar .ticket-avatar {
    padding: 32px 8px 8px 90px;
    font-size: 16px;
    position: relative;
}

.nav-users.sp-avatar .ticket-avatar > .text-muted {
    color: #9a9a9a;
}

.sp-header h4 {
    font-size: 28px;
    color: #18181a;
    margin-bottom: 6px;
}

.sp-desc {
    padding: 0 0 0 60px;
    margin: 0px 0 20px;
    line-height: 26px;
    color: #727272;
}

.sp-comment {
    color: #4da1ff;
    text-transform: uppercase;
    font-size: 18px;
    border-top: 1px solid #d8d8d8;
    padding: 10px 0;
    border-bottom: 1px solid #d8d8d8;
    margin: 20px 0 20px;
}

.sp-replies .commenterImage img {
    height: 35px;
    width: 35px;
    margin-top: 0;
}

.support-popup h3.block-title > span {
    font-size: 11px;
}

.commentName {
    font-size: 16px;
    color: #18181a;
    text-transform: capitalize;
    font-family: 'CircularStd-Book';
    margin-bottom: 8px;
    line-height: 16px;
}

.commentReply {
    color: #727272;
    margin-bottom: 8px;
}

.commentName span {
    font-size: 12px;
    color: #9a9a9a;
    font-family: 'work_sanslight';
}
.table-custom-btn {
    /*padding-top: 4px;
    padding-bottom: 4px;*/
}

.halfgray {
	background: rgba(249,249,249,1);
	background: -moz-linear-gradient(left, rgba(249,249,249,1) 0%, rgba(249,249,249,1) 37%, rgba(255,255,255,1) 37%, rgba(255,255,255,1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(249,249,249,1)), color-stop(37%, rgba(249,249,249,1)), color-stop(37%, rgba(255,255,255,1)), color-stop(100%, rgba(255,255,255,1)));
	background: -webkit-linear-gradient(left, rgba(249,249,249,1) 0%, rgba(249,249,249,1) 37%, rgba(255,255,255,1) 37%, rgba(255,255,255,1) 100%);
	background: -o-linear-gradient(left, rgba(249,249,249,1) 0%, rgba(249,249,249,1) 37%, rgba(255,255,255,1) 37%, rgba(255,255,255,1) 100%);
	background: -ms-linear-gradient(left, rgba(249,249,249,1) 0%, rgba(249,249,249,1) 37%, rgba(255,255,255,1) 37%, rgba(255,255,255,1) 100%);
	background: linear-gradient(to right, rgba(249,249,249,1) 0%, rgba(249,249,249,1) 37%, rgba(255,255,255,1) 37%, rgba(255,255,255,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f9f9', endColorstr='#ffffff', GradientType=1 );
}

/*===================================================================================*/
/*  INVOICES
/*===================================================================================*/
.w1024{max-width: 1024px !important;}
.sologo{
/*	position: absolute;
	margin: 41px 0 0 -10px;*/
	margin-left: -10px;
}
.invoice .border-bottom{
	display: inline-block;
	border-bottom: 3px solid #000;
	padding-bottom: 10px;
}
.invoice .details{ background:#e9e9e9; margin-left:-20px; }

.invoice .details .div-due{ padding-left:20px; }
.invoice .details .div-due:before {
    display: block;
    content: "";
    width: 83%;
    position: absolute;
    top: -1px;
    left: 20px;
    border-top: 3px solid #000;
}

.view .table{ display: inline-block; margin-bottom: 0; }
.invoice .details .div-table{ background:#fff; margin-top:-20px }
.invoice .table-main{ min-height: 270px; width: 100% !important; }
.invoice .table > thead tr th{
    background: transparent;
    border-bottom: 6px solid #000 !important;
    padding: 0 0 2px 0 !important;
}
.invoice .table > thead tr th:last-child{
    padding-right: 20px !important;
}
.invoice .table > tbody tr td{
    background: transparent;
    border-bottom: 2px solid #000 !important;
}

.invoice .table-transparent > tbody tr td{
    border-bottom: none !important;
}

.create .divdetails tbody tr td{ border: none !important; }
.create .newinvoice-table tbody tr.footerTr td,
.create .newinvoice-table tbody tr.active td{
	background: transparent;
    border-bottom: none !important;
    padding: 5px 20px;
}
.create .client-list{
	display: inline-block;
	height: unset;
	padding: 2px 2px;
	width: auto;
}

.invoice .summary-total > tbody tr td{ min-height: 0 !important; padding: 5px 20px; }
.selecttype{
    border: none;
    position: absolute;
    margin: -34px 0 0 1px;
    width: 78%;
    padding-left: 15px;
}
.w70{ width: 72px; }

.project-banner { background-size: cover; padding: 40px 0 30px; }
.project-banner .proj-title {
    color: #fff;
}
.project-banner p {
    color: #fff;
}

.project-banner .project-data .progress_label, .project-banner .project-data .progress_number { color: #fff; }

.link{
    color:#eb6090 !important;
    -webkit-transition:color .12s ease-out !important;
    transition:color .12s ease-out !important;
    word-wrap: break-word !important;
}
.link:hover, .link:focus {
    color:#f75570 !important;
    text-decoration:none !important;
}
#tablebookings tbody > tr > td{ padding: 2px; }

.tac .white span{ background: none; }

.popup-info {
    padding: 0;
}
.popup-info .form-group {
    margin-bottom: 15px;
}
.popup-info .form-control {
    border-radius: 2px;
    padding: 4px 14px;
    height: 30px;
    margin-top: -7px;
}

/*=====================*/
/*  HOME PAGES
/*=====================*/

.sec-block-title {
    margin: 0 0 20px;
    font-size: 28px;
}

.sec-block-title::after {
    display: block;
    content: "";
    width: 160px;
    height: 4px;
    background: #1cbbb4;
    margin: 28px 0;
}

.text-center.sec-block-title::after { margin-left: auto; margin-right: auto; }
.text-right.sec-block-title::after { margin-left: auto; }

.sec-block-content, .sec-block-content p {
    font-size: 16px;
    margin-bottom: 20px;
}

.banner-holder {
    padding: 50px 0px;
}

.banner-title {
    color: #ffffff;
    font-size: 56px;
    font-family: 'Libre Baskerville', serif;
}

.container-fluid.banner-subbtn {
    margin-top: 80px;
    margin-bottom: 70px;
}

.banner-subtitle {
    color: #fff;
    font-size: 22px;
    font-family: 'Libre Baskerville', serif;
    padding: 40px 0 60px;
}

.bsubbtn-text {
  font-family: 'Libre Baskerville', serif;
  color: #ffffff;
  font-size: 20px;
}

.banner-wrap {
    z-index: 2;
    position: relative;
    display: block;
}

.banner-subbtn-holder .left-area {
	position: relative;
	padding-right: 200px;
}

.banner-subbtn-holder .left-area::after {
    position: absolute;
    background: #5b64ca;
    content: "";
    height: 100%;
    width: 1000%;
    z-index: 1;
    right: 0;
    top: 0;
    bottom: 0;
}
.bsubbtn-text {
    padding: 30px 0;
}
.banner-wrap > .btn {
    position: absolute;
    right: -360px;
    top: 20px;
    font-size: 20px;
}

.sec-block-holder {
    padding: 0 70px 40px;
}

.sec-block-holder.sec-img {
	padding: 0 0 40px;
}

.sec-block-title {
    font-family: 'Libre Baskerville', serif;
    font-weight: 300;
    line-height: 1.8em;
}

.sec-block-title > span {

    font-size: 90%;
    color: #999999;
    /*font-weight: bold;*/

}

.nfz-holder {
    
    color: #fff;
}

.nfz-holder .content {
    padding: 40px 50px 30px;
}

.nfz-holder .sec-block-title.h3 {
    font-family: 'Libre Baskerville', serif;
    font-size: 20px;
}

.nfz-holder .sec-block-content, .nfz-holder .sec-block-content p {
    color: #ffffff;
}

.zerofee .col-lg-4 { background: #5b64ca; min-height: 420px; }
.zerofee .col-lg-8 { background: #f5f5f5; min-height: 420px; }
.nfz-dr-access .sec-block-title {
    font-size: 16px;
    color: #333333;
    font-family: 'Libre Baskerville', serif;
}
.nfz-dr-access .content {
    padding-top: 50px;
    margin-bottom: 10px;
}
.nfz-accesslist {
    list-style: none;
    padding: 0;
}
.nfzlist-holder {
    position: relative;
    padding: 0 0 50px 80px;
}
.nfzlist-holder > span {
    position: absolute;
    left: 0;
    font-size: 65px;
    color: #e2e3ef;
    font-family: 'work_sansbold';
    top: -15px;
    line-height: normal;
}
.frontlist-check {
    list-style: none;
    padding: 20px 0;
}
.frontlist-check li {
    position: relative;
    padding: 0 0 30px 70px;
    font-size: 18px;
}
.frontlist-check li > i {
    font-size: 32px;
    color: #5b64ca;
    position: absolute;
    left: 15px;
    top: -6px;
}
.top-line-l > .container-fluid {
    position: relative;
}
.top-line-l > .container-fluid::before {
	content: "";
	width: 50%;
	height: 15px;
	background: #5b64ca;
	position: absolute;
	left: 0;
	top: -15px;
}
.top-line-r > .container-fluid {
    position: relative;
}
.top-line-r > .container-fluid::before {
	content: "";
	width: 50%;
	height: 15px;
	background: #5b64ca;
	position: absolute;
	right: 0;
	top: -15px;
}
.table.table-divide {
    margin-top: 0 !important;
}

/*=====================*/
/*  ABOUT US
/*=====================*/

.heading-title-v2 {
    padding: 0 0 0;
    min-height: 260px;
    position: relative;
    margin-bottom: 0;
}
.heading-title-text {
    padding: 0;
}
.heading-title-text .heading-line {
    background: #1aaab4;
    position: relative;
    height: 3px;
    margin: 4px 0 0;
    z-index: 2;
}
.aus-heading-title {
    position: relative;
    color: #333333;
    background: #f5f5f5;
    text-align: left;
    padding: 45px 60px 50px 80px;
    bottom: 0px;
    z-index: 2;
    margin-left: 32%;
    margin-bottom: 0;
    margin-top: -115px;
    font-family: 'Libre Baskerville', serif;
}

.aus-heading-title::before {
    content: "";
    width: 85px;
    height: 3px;
    background: #1aaab4;
    position: absolute;
    left: 0;
    bottom: 34px;
}

.two-reason .sec-block-title {
    font-size: 20px;
}
.tworeas-holder {
    padding-left: 5%;
}

.trnum, .trcontent {
    display: table-cell;
    vertical-align: middle;
}

.trnum {
    font-family: 'Work Sans', sans-serif;
    font-weight:lighter;
    font-size: 95px;
    color: #1aaab4;s
    padding: 0 20px 0 0;
    width: 150px;
}

.trcontent {
    background: #1aaab4;
    padding: 32px;
    color: #fff;
    font-size: 15px;
}

.bimg-content {
    color: #fff;
    background: #1aaab4;
    padding: 35px 35px;
    max-width: 420px;
    margin: -100px auto 0;
    position: relative;
    font-size: 15px;
    font-family: work_sansmedium;
    line-height: 26px;
}

.about-seedomega .left {
    background: #f5f5f5;
}

.about-seedomega .left .sec-block-holder {
    padding: 50px 60px 40px;
}
.purple-bg {
    background: #5b64ca;
}
.gray-bg {
	background: #f5f5f5;
}
.lightgray-bg {
	background: #fafafa;
}
.about-seedomega .right .sec-block-holder {
    padding: 75px;
}

.about-seedomega .sec-block-title {
    font-family: 'libre_baskervilleregular';
}

.flex { display: flex; }

.visionbox {
    border: 1px solid #1cbbb4;
    margin: 0 10px 22px;
    width: 100%;
    padding: 30px;
    position: relative;
}
.visionbox.vborder-b::after {
    display: block;
    content: "";
    height: 14px;
    background: #1aaab4;
    position: absolute;
    left: -1px;
    bottom: -22px;
    width: 100.5%;
}
.visionbox.vborder-t::before {
    display: block;
    content: "";
    height: 14px;
    background: #1aaab4;
    position: absolute;
    left: -1px;
    top: -22px;
    width: 100.5%;
}
.visionbox.vborder-t {
    margin-bottom: 0px;
    margin-top: 22px;
}

.vision-block-title {
    font-family: "work_sansbold";
    font-size: 24px;
    padding: 0 0 20px;
}

.visionbox .sec-block-content, .visionbox .sec-block-content p {
    font-size: 20px;
    font-family: work_sanslight;
}

.aimd-numb {
    font-family: 'Work Sans', sans-serif;
    font-size: 70px;
    color: #1aaab4;
    font-weight: lighter;
}

.about-newage .sec-block-title {
    font-family: 'Libre Baskerville', serif;
    font-size: 24px;
    line-height: 38px;
}

.aimd-content {
    padding-right: 40px;
    font-size: 16px;
    line-height: 26px;
}

.about-teambio { background-position: center 0; background-repeat: no-repeat; background-size: cover; }
.about-teambio .container-fluid {
    max-width: 1200px;
}

.about-teambio .sec-block-title.h3 {
    color: #fff;
    margin: 30px 0 60px;
}

.team-name > h4 {
    font-size: 20px;
    color: #333333;
    background: #ffffff;
    padding: 18px 40px;
}

.team-name > h4 > span {
    display: block;
    font-size: 15px;
}
.teamimg {
    padding-right: 52px;
    position: relative;
}

.teamlearn-more {
    position: absolute;
    top: 0;
    right: 0;
    width: 52px;
    height: 80%;
    color: #fff;
    text-transform: uppercase;
    text-indent: -9999px;
    background: url('../images/aboutus/about-learnmore.png') no-repeat center 0;
    background-size: contain;
}

.team-name {
    padding-left: 40px;
}
.team-name > h4 {
    font-size: 20px;
    color: #333333;
    background: #ffffff;
    padding: 18px 40px;
    margin-top: -50px;
    position: relative;
}

.team-img img {
    /*height: 300px;*/
    width: 100%;
}

.team-img {
    overflow: hidden;
    height: 380px;
}
/*=====================*/
/*  IPO PAGES
/*=====================*/

.ipo-about .left img {
    position: relative;
    z-index: 1;
}

.ipo-about .right {
    position: relative;
    z-index: 3;
}
.ipo-about .ipo-regbtn a {
    display: block;
    border-radius: 0;
    padding: 30px 40px;
    text-align: left;
    font-size: 20px;
    max-width: 80%;
    margin: -70px auto 0;
    z-index: 2;
    position: relative;
}

.ipo-benefitslist li {
    position: relative;
    list-style: none;
    min-height: 100px;
    padding-left: 100px;
    color: #fff;
    font-size: 18px;
    vertical-align: middle;
    padding-bottom: 20px;
}

.ipo-benefitslist li .img-ipob {
    position: absolute;
    left: 0;
    top: 0;
    width: 70px;
    text-align: center;
}

/*=====================*/
/*  SEEDERS PAGES
/*=====================*/
.seeders-about .right .sec-block-title {
    color: #333333;
    font-size: 34px;
}
.seeders-about .right .sec-block-title::after {
	display: none;
}
.seeders-about .right {
    width: 100%;
}
.seeders-aimdeliver .sec-block-title {
    font-size: 22px;
}
.seeders-aimdeliver .ipo-benefitslist {
    max-width: 280px;
    margin: 60px auto 20px;
}
.seeders-aimdeliver .ipo-benefitslist li {
    color: #4a4a4a;
    font-size: 16px;
    padding-left: 76px;
}

.seeders-aimdeliver .ipo-benefitslist li .img-ipob {
    font-size: 50px;
    font-weight: lighter;
    color: #1aaab4;
    line-height: 50px;
    text-align: center;
    width: 70px;
}

.seeders-aimdeliver .left {
    width: 60%;
}

.seeders-why .ipo-benefitslist li {
    color: #777;
    font-size: 16px;
    padding-left: 100px;
    padding-right: 60px;
    padding-bottom: 80px;
}

.seeders-why .ipo-benefitslist li .img-ipob {
    font-size: 50px;
    font-weight: lighter;
    color: #1aaab4;
    line-height: 50px;
    text-align: center;
    width: 70px;
}

.subtitle.sec-block-title::after { margin: 10px 0; }
.seeders-advantages .right {
    padding: 0 50px;
}

.seeders-advantages p {
    font-size: 15px;
    margin-bottom: 20px;
}
/*=====================*/
/*  CUSTOMS
/*=====================*/
.daterangepicker .month > select {
    padding: 5px 10px 5px 5px;
    margin-right: 10px;
    min-width: 60px;
}

.admin-page .icon{ margin-top: -10px; }

.pad-60-r{ padding-right: 60px; }