@charset "utf-8";
/* CSS Document */

/************************ For Smart Phones ************************/

@media only screen and (max-width: 1020px) {
	.xs-pad-0{
	    padding-bottom:5px !important
	}
	.xs-pad-0-t{
	    padding-top:5px !important
	}
	.xs-pad-0-r{
	    padding-right:5px !important
	}
	.xs-pad-0-l{
	    padding-left:5px !important
	}
	.xs-pad-5{
	    padding-bottom:5px !important
	}
	.xs-pad-5-t{
	    padding-top:5px !important
	}
	.xs-pad-5-r{
	    padding-right:5px !important
	}
	.xs-pad-5-l{
	    padding-left:5px !important
	}
	.xs-pad-10{
	    padding-bottom:10px !important
	}
	.xs-pad-10-t{
	    padding-top:10px !important
	}
	.xs-pad-10-r{
	    padding-right:10px !important
	}
	.xs-pad-10-l{
	    padding-left:10px !important
	}
	.xs-pad-15{
	    padding-bottom:15px !important
	}
	.xs-pad-15-t{
	    padding-top:15px !important
	}
	.xs-pad-15-r{
	    padding-right:15px !important
	}
	.xs-pad-15-l{
	    padding-left:15px !important
	}
	.xs-pad-20{
	    padding-bottom:20px !important
	}
	.xs-pad-20-t{
	    padding-top:20px !important
	}
	.xs-pad-20-r{
	    padding-right:20px !important
	}
	.xs-pad-20-l{
	    padding-left:20px !important
	}
	.xs-pad-30{
	    padding-bottom:30px !important
	}
	.xs-pad-30-t{
	    padding-top:30px !important
	}
	.xs-pad-30-r{
	    padding-right:30px !important
	}
	.xs-pad-30-l{
	    padding-left:30px !important
	}
	.xs-pad-40{
	    padding-bottom:40px !important
	}
	.xs-pad-40-t{
	    padding-top:40px !important
	}
	.xs-pad-40-r{
	    padding-right:40px !important
	}
	.xs-pad-40-l{
	    padding-left:40px !important
	}
	.xs-pad-50{
	    padding-bottom:50px !important
	}
	.xs-pad-50-t{
	    padding-top:50px !important
	}
	.xs-pad-50-r{
	    padding-right:50px !important
	}
	.xs-pad-50-l{
	    padding-left:50px !important
	}
	.xs-pad-100{
	    padding-bottom:100px !important
	}
	.xs-pad-100-t{
	    padding-top:100px !important
	}
	.xs-pad-100-r{
	    padding-right:100px !important
	}
	.xs-pad-100-l{
	    padding-left:100px !important
	}
	.xs-pad-150{
	    padding-bottom:150px !important
	}
	.xs-pad-150-t{
	    padding-top:150px !important
	}
	.xs-pad-150-r{
	    padding-right:150px !important
	}
	.xs-pad-150-l{
	    padding-left:150px !important
	}
	.xs-pad-200{
	    padding-bottom:200px !important
	}
	.xs-pad-200-t{
	    padding-top:200px !important
	}
	.xs-pad-200-r{
	    padding-right:200px !important
	}
	.xs-pad-200-l{
	    padding-left:200px !important
	}
	.xs-pad-300{
	    padding-bottom:300px !important
	}
	.xs-pad-300-t{
	    padding-top:300px !important
	}
	.xs-pad-300-r{
	    padding-right:300px !important
	}
	.xs-pad-300-l{
	    padding-left:300px !important
	}

	.header-bottom {background-position:50% 100%;}
	.header-bottom h1 {text-align:center;}
	.breadcrumb {text-align:center;}
	.breadcrumb .col-lg-6 {line-height: unset;}
	.breadcrumb .sub-menu {display:none;}
	section {padding:30px 0px;}
	.nav-header-right {display:none;}
	
	#logo {width:100%;}
	header #navbar-toggle {
		width:43px;
		color:#3398CC;
		height:33px;
		float:right;
		display:block;
		z-index:999999;
		margin-top: 14px;
		position:relative;
		border-radius: 4px;
		background:#FFF;
		border:solid 1px #ddd;
	}
	
	header #navbar-toggle.collapsed {
		color:#3398CC;
		background:#FFF;
		border:solid 1px #ddd;
	}
	
	header #navbar-toggle:focus {
		outline:none;
	}
	
	header #navbar-toggle i {
		font-size:24px;
	}
	
	.nav-header-right {
		right: 0px;
		height:100%;
		z-index:9999;
		width: 350px;
		overflow:auto;
		max-width:100%;
		position: fixed;
		background: #FFF;
		border-left: solid 1px #ebebeb;
		border-bottom: solid 1px #ebebeb;
	}
	
	.main-nav ul {
		width:100%;
	}
	
	.main-nav > ul li {
		width: 100%;
		display: block;
		margin: 10px 0px;
		text-align: left;
		border-right:none;
		padding-bottom: 10px;
		border-bottom: solid 1px #ebebeb;
	}
	
	.main-nav > ul li:last-child {
		margin-bottom:0px;
		border-bottom:none;
	}
	
	.main-nav > ul li ul, .main-nav > ul li ul li ul {
		left:0px;
		width:100%;
		margin-top:0px;
		position:relative;
		z-index:999999999;
		margin-bottom:10px;
		display:block !important;
	}
	
	.main-nav > ul li ul li a {
		border-top:none;
		padding-left:40px;
	}
	
	.main-nav > ul li ul li ul li a {
		padding-left:60px;
	}
	
	.main-nav > ul li ul li {
		margin:0px 0px;
		padding-bottom:0px;
		border-bottom:none;
	}
	
	.main-nav > ul li ul li a:first-child, .main-nav > ul li ul li ul li a:first-child {
		border-top:solid 1px #ebebeb;
	}

	.main-nav ul li a span {
		color: #4f4f4f;
	}

	.main-nav ul li a { 
		color: #f75570;
	}
	
	.header-right {width:100%;}
	.header-right-btns, .search-box {float:none; border-right:none;}
	.dropdown-login {
		top:-40px;
		right:auto;
		position:relative;
		margin-bottom: -15px;
		display:block !important;
	}
	.header-right-btns ul > li {width:92%;}
	.header-right-btns ul > li > a.btn {width:100%; padding: 10px 25px; display:block;}
	.search-box {text-align:center;}
	.search-box form {padding-bottom:15px;}
	.search-box input[type="text"] {display:inline-block !important; position:relative; margin-left:auto; width:90%;}
	.search-box span.icon {left:-30px;}
	
	#intor-section ul li, #intor-section ul li.plus-icon {
		width:100%;
		display:block;
		text-align:center;
	}
	
	.about-section .video-container {margin-top:5px; margin-bottom:5px;}
	
	.popular-item .project-image {max-height:220px;}
	
	.progress-section {
		display:none;
	}
	
	.project-slider, .project-slider img {width:100%; padding-right:0px; max-height:450px; padding-left:0px;}
	
	#popular.style-2 .support-btn-cnt {width:100%;} #popular.style-2 .support-btn-cnt .btn {padding:12px 25px;}
	
	#popular.style-2 .row {margin-left:0px !important; margin-right:0px !important;}
	
	.events {padding:50px 0px;}
	
	.events .event-title { width:100%; position:relative; left:auto; min-height:10px; float:left;}
	.events .event-img {width: 100%; float:left; margin-bottom:-50px; max-height: 1000px;}
	.events .event-data {width:100%; float:left}
	.events .event-data .event-data-inner {border-bottom:none;}
	.events.style-2 .event-data .event-data-inner {border-bottom:solid 4px rgba(255,255,255,0.08); margin-bottom:30px;}
	.events .event-img img {width:100%;}
	.events.style-2 .event-img {margin-bottom:0px;}
	
	.projects-page .content-cnt {
		width:100%;
	}
	
	.sidebar-container {display:none;}
	
	.projects-page .col-lg-4.project-cnt {width:50%; float:left;}
	
	.socialbox-cnt {margin-bottom:30px; float:none;}
	
	.blog-posts .post-image {max-height:1000px !important;}
	.blog-post:hover .post-image span i {margin-top:32%;}
	
	.facts-figures ul li {width:49%;}
	
	.about-project .bx-wrapper img {width:100%;}
	
	.button-styles .col-lg-6 {float:none; width:100%; margin-bottom:25px;}
	
	footer .footer-links .col-lg-4 {
		width:100%;
		text-align:center;
		margin-bottom:30px;
	}
	
	footer .footer-links .col-lg-2 {
		float:left;
		padding-left:5%;
	}
	
	footer .copyrights .col-lg-6 {
		width:100%;
		text-align:center;
	}
	
	footer .copyrights .col-lg-6.copyright-text {
		margin-bottom:30px;
	}
	
	.pcontent .nav-tabs>li {
		width:50%;
	}
	
	.start-project .title ul li {
		width:40%;
		margin:0 auto;
		margin-bottom:30px;
		display:inline-block;
	}
	.start-project .title ul li:last-child {margin-bottom:0px;}
	
	.start-project .title ul li a:before, .start-project .title ul li a:after {display:none;}
	.start-project .start-content {padding:20px 30px;}

	/*=== HOMEPAGE ===*/
	.banner-subbtn-holder .left-area {
	    display: block;
	    overflow: hidden;
	}
	.bsubbtn-text {
	    padding: 30px 0 0;
	}
	.banner-holder {
	    padding: 50px 0px 0px;
	}
	.banner-wrap > .btn {
	    right: 0;
	    top: 20px;
	    font-size: 14px;
	    position: static;
	    margin: 20px 24px;
	}
	.banner-title {
	    font-size: 34px;
	}
	.container-fluid.banner-subbtn {
	    margin-bottom: 0;
	}
	.banner-subbtn-holder .left-area {
	    padding-right: 15px !important;
	    text-align: center;
	}
	.bsubbtn-text {
	    float: none !important;
	}
	.nopadd-xs, div.nopadd-xs, section.nopadd-xs {
	    padding: 0 !important;
	}
	.no-topline-xs > .container-fluid::before { display: none; }
	.sec-block-holder.sec-img {
	    padding: 0 0 0px;
	}
	.zerofee .col-lg-4 {
	    background: #5b64ca;
	    min-height: 290px !important;
	}
	.nfz-holder .sec-block-title {
	    text-align: center;
	}
	.nfz-holder .sec-block-title::after { margin: 28px auto; }
	.nfz-holder .sec-block-content, .nfz-holder .sec-block-content p {
	    text-align: center;
	}
	.nfz-holder .content {
	    padding: 40px 50px 30px;
	    margin: 0;
	}

	.aus-heading-title {
	    padding: 25px 60px 40px 80px;
	    font-size: 32px;
	    margin-left: 0;
	    margin-top: -70px;
	}
	.heading-title-text .heading-line {
	    display: none;
	}
	.tworeas-holder .row > div {
	    margin-bottom: 10px;
	}
	.bimg-content {
	    padding: 25px 35px;
	    max-width: 100%;
	    margin: 0px auto 0;
	    position: relative;
	}
	.about-seedomega .row {
	    display: block;
	}

	.about-seedomega .sec-img img {
		max-width: 250px;
		margin: 0 auto;
	}

	.about-vision .flex {
	    display: block;
	}

	.visionbox.vborder-t::before, .visionbox.vborder-b::after { display: none; }
	.visionbox.vborder-t {
	    margin-bottom: 22px;
	    margin-top: 0px;
	}
	.aimdeliver .row .col-lg-3 {
	    width: 100%;
	    float: none;
	}
	.teambio > div {
	    margin-bottom: 50px;
	    width: 50%;
	    float: left;
	}
	.seeders-about .right .sec-block-title {
	    font-size: 20px;
	}
	.ipolistitems .left {
	    width: 230%;
	}
}

@media only screen and (max-width: 550px) {
	.popular-item .project-image {max-height:250px;}
	.about-section .video-container img {width:100%; display:block; float:none;}
	.about-section .video-container {float:none; display:block; margin-top:0px; margin-left:0px;}
	.about-section a.btn {width:80%; float:none; margin:0 auto; margin-top:15px; display:block; white-space:nowrap;}
	
	#popular.style-2 .popular-data {margin:0 auto; width:128px; float:none;}
	.project-details span.side-left {display:none;}
	
	.project-details {width:100%; padding-top:35px; padding-bottom:15px; height:auto; margin-top:-25px; margin-left:0px;}
	.project-slider-content {padding-bottom:15px;}
	#popular.style-2 .project-details ul li {margin:5px 5px;}
	
	.blog-posts .post-image {max-height:1000px !important;}
	.blog-post:hover .post-image span i {margin-top:32%;}
	
	.start-project .title ul li {
		width:100%;
	}
	
	.button-styles .col-lg-6 button.btn {margin:0 auto; margin-bottom:15px; display:block;}
	
	.projects-page .col-lg-4.project-cnt {width:100% !important; float:left;}
}

@media only screen and (max-width: 800px) {
	.start-content .form-group .form-left, .start-content .form-group .form-right, .form-ui .form-group .form-left, .form-ui .form-group .form-right
	{
		float:none;
		width:100%;
	}
	.start-content .form-group .form-left, .form-ui .form-group .form-left, .start-content .form-group .form-right, .form-ui .form-group .form-right {
	    margin-bottom: 16px;
	}
	.start-project .start-content {padding:20px 30px;}
	section.filter .form-group:first-child {
		float:none;
	}
	section.filter .form-group .filter-title {margin:0 auto; margin-bottom:25px; max-width:100%;}
	
	.projects-page .content-cnt {
		width:100%;
	}
	
	.projects-page .col-lg-4.project-cnt {width:50%;}
	.avatar-container {margin-bottom: 20px;}
}

@media only screen and (max-width: 300px) {
	#popular.style-2 .project-details ul li {float:left;}
	.about-section a.btn {width:100%; padding-left:0px; padding-right:0px; text-align:center;}
	
	#popular.style-2 .project-details ul li:last-child {float: none; display: block; clear: both;}
	
	.events .event-img {margin-bottom:-120px;}
	.events .event-img > span {padding:5px 0px; top:-120px;}
}

@media only screen and (max-width: 400px) {
	.events .time-countdown {
		padding:8px 15px;
	}
	
	.events .event-img > span {padding:5px 0px;}
	
	.socialbox-inner i {float: none; display: block; margin: 0 auto; width: 42px; margin-bottom: 5px;}
	.socialbox-inner h4 {text-align: center; width: 100%; margin-bottom: 10px;}
	
	.blog-posts h3, #popular.style-2 h3 {text-align:center;}
	.blog-btn-cnt, #popular.style-2 .pslider-btn-cnt {width: 90px; float: none; margin: 0 auto; margin-top: 20px; padding-bottom: 15px; display: block;}
	
	.facts-figures ul li {width:100%; display:block;}
	
	#map-desc h3 {
		font-size: 13px;
		font-weight: 600;
		padding: 15px 15px;
	}
	
	.map-info div {max-width: 132px;}
	
	.send-us h3 {
		line-height: 40px;
	}
	
	footer .footer-links {padding: 50px 15px 30px 15px;}
	
	footer .footer-links h5 {line-height:25px;}
	
	footer .copyrights .newsletter form {
		margin-top:10px;
	}
	
	footer .copyrights .newsletter form input[type="text"], footer .copyrights .newsletter form input[type="email"] {
		width:210px;
		margin-left: -20px;
	}
	.blog-single .blog-byDate .pmeta .met {
	    font-size: 10px;
	}
	.header-bottom {
	    min-height: 200px;
	}
	#dialog-form.block-content.comm-rate small.text-muted {
	    display: block;
	}
}

@media only screen and (min-width: 600px) and (max-width: 1020px) {
	.blog-page .col-lg-6 {
		width:50%;
		float:left;
	}
}

@media only screen and (min-width: 1024px) {
	.col-lg-3 {
		width:25%;
		float:left;
	}
}

@media only screen and (min-width: 400px) and (max-width: 550px) {
	.socialbox-inner ul li img {width:60px; margin-right:10px;}
	.socialbox-inner ul li span {float:left; width:76%;}
}

@media only screen and (min-width: 550px) and (max-width: 984px) {
	.socialbox-inner ul li img {width:60px; margin-right:10px;}
	.socialbox-inner ul li span {float:left; width:85%;}
}

@media only screen and (min-width: 985px) and (max-width: 1020px) {
	.socialbox-inner ul li img {width:60px; margin-right:10px;}
	.socialbox-inner ul li span {float:left; width:76%;}
}

@media only screen and (min-width: 1000px) and (max-width: 1199px) {
	.progress-section {
		left: -50px;
		position: relative;
	}
	
	.about-section .video-container {
		margin-top:0px;
	}
	
	#popular.style-2 .project-slider {width:50%; float:left;}
	.project-slider-content {width:50%; float:left;}
	.project-details {width:70%;}
	#popular.style-2 .project-details ul li {margin:5px 10px;}
	.project-slider-content p {display:none;}
	.project-slider-content p:first-of-type {display:block !important;}
	
	.events .event-title { left: 35.8%; }
	.events .event-img {width: 40%;}
	.events .event-data {width:35%;}
	.events.style-2 .event-img {width: 63%;}
	
	.col-lg-3 {
		float:left;
		width:33.3333336%;
	}
	
	#popular .col-lg-3:last-child {
		display:none;
	}
	
	#popular .col-lg-9.content-cnt {width:100%;}
	
	.blog-posts {width:60%; float:left;}
	.socialbox-cnt {width:40%; float:right;}
	
	.button-styles .col-lg-6 {float:none; width:100%; margin-bottom:25px;}
	
	footer .footer-links .col-lg-4 {
		width:100%;
		text-align:center;
		margin-bottom:30px;
	}
	
	footer .footer-links .col-lg-2 {
		width:25%;
		float:left;
	}
	
	footer .copyrights .col-lg-6 {
		width:50%;
		float:left;
	}
}


@media only screen and (max-width: 1200px) {
	.blog-single {
	    margin-right: 0;
	}
	#client-comments-content .commentList li .commentText {
	    /*width: 85%; */
	}
	.bsubbtn-text {
	    font-size: 16px;
	}
	.banner-subbtn-holder .left-area {
	    padding-right: 150px;
	}
	.banner-wrap > .btn {
	    right: -270px;
	    top: 20px;
	    font-size: 14px;
	}
	.sec-block-holder {
	    padding: 0 30px 20px;
	}
	a.home-signup-btn {
	    font-size: 14px !important;
	}
	.nfzlist-holder {
	    padding: 0 0 40px 80px;
	}
	.zerofee .row > div {
	    min-height: 500px;
	}
	.frontlist-check li {
	    padding: 0 0 28px 70px;
	    font-size: 14px;
	}

	.aimdeliver .row {
	    display: flex;
	}
	.ipo-allin .frontlist-check li {
	    font-size: 20px;
	}
	.blog-list li .blog-item {
	    min-height: 580px;
	}
}

@media only screen and (max-width: 1023px) {
	.contact-section {padding-bottom: 70px;}
	.contact-details .contact-text p {padding-right: 0;}
	.c-address {padding: 20px 0 30px;}
}

@media only screen and (max-width: 991px) {
	.articleFeaturedImage {
	    width: 100% !important;
	}
	footer .footer-links .links {
	    padding-bottom: 25px;
	}
	.upload-documents h5 {
	    border-left: unset !important;
	}
	.upload-documents h5 a {
	    padding-left: 0 !important;
	}
	.upload-documents h6 {
	    border-bottom: solid 1px #f0f0f0 !important;
	    margin-bottom: 15px;
	    padding-bottom: 10px;
	}
	.member-info.row {
	    margin-right: -10px;
	    margin-left: -10px;
	}
	.member-info .col-sm-8.col-sm-offset-2 {
	    margin: auto;
	    width: 100%;
	}
	.profile-img .avatar-container.personal {
	    float: none;
	    margin: auto;
	}
	#dialog-form.block-content.comm-rate {
    padding: 0 25px !important;
	}
	#CommissionRate.form-control, #SubscriptionRate.form-control {
	    width: 100% !important;
	    display: block!important;
	    margin-right: 0!important;
	    margin-bottom: 5px;
	}
	#client-comments #client-comments-content .commentList li .commentText {
	    width: 94%;
	}
	#bookings-all .project-info span {
	    padding: 0px 0px 8px;
	    margin: 5px 0px 0px;
	    border-bottom: 1px solid #eff0f0;
	}
	.pie-mobile {
	    display: none;
	}
	.bar-mobile {
	    display: block;
	}
	.comp-progress-info {
		margin: 35px 0 0;
	    background-color: #ffffff4a;
	}
	.ipolistitems .left {
	    width: 100%;
	}
	.ipolistitems .flex { display: block; }
	.ipo-about .ipo-regbtn a {
	    padding: 20px 40px;
	    max-width: 100%;
	    margin: 0px auto 0;
	}
	.aimdeliver .row {
	    display: block;
	}
	.aimdeliver .row .col-lg-3 {
	    width: 50%;
	    float: left;
	}

	.blog-list li .blog-item {
	    min-height: 540px;
	}
	
}

@media only screen and (max-width: 800px) {
	.form-inq .inq-stat.form-group {
	    padding-bottom: 5px;
	}
}

@media only screen and (max-width: 768px) {
	.next-btn {
	    text-align: center;
	}
	.next-btn button.btn {
	    margin: 5px;
    	min-width: 195px;
	}
	.container.contactpage {
	    /* padding: 0 15px 30px; */
	}
	#calculator span {
	    font-size: 6vw;
	}
	.project-view .project-single {
	    margin-top: -30px;
	}
	.project-view .header-bottom .b-content {
	    margin-top: 60px;
	}
	.com-logo img {
	    margin: auto;
	}
	.project-view .header-bottom img {
	    width: 160px;
	}
	.company-profile {
	    padding-left: 15px;
	    text-align: center;
	}
	.company-profile ul.affiliate-share {
	    margin: 5px 0 !important;
	}
	.company-profile ul.affiliate-share li a {
	    font-size: 25px;
	}
	.company-profile p span.label {
	    text-align: center;
	    margin: auto;
	    display: table;
	    padding: 10px 20px;
	}
	.comp-progress-info {
	    margin: 22px 0 0;
	}
	.project-view .header-bottom ul.affiliate-share {
	    display: block;
	}
	.view-company-info .client-content .block>.nav-tabs>li {
	    width: 33.3% !important;
	}
	.view-company-info .client-content .block>.nav-tabs>li>a {
	    border: 1px solid #4c4c4c !important;
	}
	.view-company-info .client-content {
	    margin-top: 0;
	}
	.c-address {
	    padding: 10px 0;
	}
	.contact-section {
	    padding: 50px 20px 40px;
	}
	.aimdeliver .row .col-lg-3 {
	    width: 100%;
	    float: none;
	}
	.teambio > div {
	    margin-bottom: 50px;
	    width: 100%;
	    float: none;
	}
	.seeders-aimdeliver .flex {
	    display: block;
	}
	.seeders-aimdeliver .flex > div {
	    width: 100%;
	}
	.ipo-benefits .flex {
	    display: block;
	}
	.ipo-benefits .right .sec-block-holder {
	    padding-top: 30px !important;
	}

	.blog-list li .blog-item {
	    min-height: auto;
	}
	.table-custom-btn {
	    padding-top: 4px;
	    padding-bottom: 14px;
	    text-align: right;
	}
}

@media only screen and (max-width: 598px) {
	#calculator span {
	    padding: 0 8px;
	    font-size: 6vw;
	}
	.contactpage h3 {
	    padding: 0 10px;
	}
	#client-comments-content .commentList li .commentText {
	    border-radius: unset;
	    width: 92%;
	}
	.view-company-info .client-content .block>.nav-tabs>li {
	    width: 50% !important;
	}
	#client-comments .write-comment {
	    width: 90% !important;
	}
	.body-longtext .bl-text {
	    padding-left: 35px;
	}
	.header-bottom p {
	    font-size: 15px;
	    line-height: 22px;
	    padding: 0;
	}
}

@media only screen and (max-width: 420px) {
	.view-company-info .client-content .block>.nav-tabs>li {
	    width: 100% !important;
	}
	#client-comments .write-comment {
	    width: 88% !important;
	}
	.booking-id {
	    text-align: center;
	}
	.booking-id span {
	    font-size: 12px;
	}
	ul.affiliate-share li {
	    margin: 5px 3px; 
	}
	.view-proj-btn {
	    text-align: center;
	}
	#cln-comments {
	    width: 300px;
	}
	#cln-comments #client-comments-content .commentList li .commentText {
	    width: 85%;
	}
}

@media only screen and (max-width: 320px) {
	#client-comments-content .commentList li .commentText {
	    width: 85%;
	}
}

@media only screen and (min-width: 1349px) {
	.popular-details {
		width:92px;
	}
	
	.main-slider .progress-section ul li {
		margin: 0px 24px 0px 0px;
	}
}

@media only screen and (min-width: 2025px){.arrow-cnt{height: 25px; width: 50px; margin-top: 3px; text-align: right; padding-right: 10px;}}

@media only screen and (max-width: 1024px) {
	footer .copyrights .copyright-text, footer .copyrights .social-media ul {text-align: center;}
	footer .copyrights .social-media {padding-left: 15px;}
}

@media only screen and (max-width: 1020px) {
	.main-slider .slider-progress-section, .main-slider img.funder-img {display:none;}
}

@media only screen and (min-width: 1020px) and (max-width: 1199px) {
	.main-slider img.funder-img {margin: 85px 35px;} .pie_progress {left:0px;}
	.main-slider .progress-section ul {margin:20px 0px 0px !important;}
}

@media only screen and (min-width: 1020px) and (max-width: 1100px) {.pie_progress {left:10px;}}

@media only screen and (min-width: 1024px) and (max-width: 1024px) {.pie_progress {left:14px;}}


@media only screen and (min-width: 1024px) and (max-width: 1200px) {
	.offer-details .offer-data { padding-bottom: 14px !important; }
	.project-view .project-progress { padding: 10px 0 10px !important; }
	.header-right-btns .btn-default { padding: 10px 10px; }
}